---
openapi: "3.0.0"
info:
  title: "Impilo API"
  version: "3.0"
servers:
- url: "https://app.impiloplatform.com"
  description: "Production server"
- url: "https://staging.impiloplatform.com"
  description: "Staging server"
security:
- ApiKeyAuth: []
tags:
- name: "Clinical Notes"
- name: "Devices"
- name: "Inventory"
- name: "Items"
- name: "Kits"
- name: "Manufacturers"
- name: "Orders"
- name: "Patients"
- name: "Procurements"
- name: "Sites"
- name: "Transfers"
- name: "Webhooks"
- name: "Readings - Blood Glucose"
- name: "Readings - Blood Oxygen"
- name: "Readings - Blood Pressure"
- name: "Readings - Heart Rate"
- name: "Readings - Heart Rate Variability"
- name: "Readings - Peak Flow"
- name: "Readings - Temperature"
- name: "Readings - Weight"
- name: "Tests"
paths:
  /api/v3/clinical-note:
    get:
      tags:
      - "Clinical Notes"
      description: "Lists clinical notes with various filtering options including\
        \ pagination, sorting, and specific attributes such as IDs, types, assignee\
        \ details, creator details, patient details, and more.\nThis endpoint supports\
        \ comprehensive filtering to retrieve relevant clinical notes based on the\
        \ provided criteria.\n"
      operationId: "listClinicalNotes"
      parameters:
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page of content returned."
        schema:
          format: "int32"
          type: "integer"
      - name: "sort"
        in: "query"
        description: "The attribute to sort on."
        schema:
          $ref: "#/components/schemas/ClinicalNoteSort"
      - name: "sortDescending"
        in: "query"
        description: "True if the sort direction should be descending."
        schema:
          type: "boolean"
      - name: "id"
        in: "query"
        description: "Lists only clinical notes with the IDs provided."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "open"
        in: "query"
        description: "Lists only open clinical notes."
        schema:
          type: "boolean"
      - name: "description"
        in: "query"
        description: "Lists only clinical notes with the provided description."
        schema:
          type: "string"
      - name: "type"
        in: "query"
        description: "Lists only clinical notes with the provided types."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/ClinicalNoteType"
      - name: "cptCodeValue"
        in: "query"
        description: "Lists only clinical notes with the provided CPT code values."
        schema:
          type: "array"
          items:
            type: "string"
      - name: "assigneeId"
        in: "query"
        description: "Lists only clinical notes assigned to the provided assignee\
          \ IDs."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "assigneeName"
        in: "query"
        description: "Lists only clinical notes assigned to the provided assignee\
          \ name."
        schema:
          type: "string"
      - name: "assigneeEmail"
        in: "query"
        description: "Lists only clinical notes assigned to the provided assignee\
          \ email."
        schema:
          type: "string"
      - name: "createdById"
        in: "query"
        description: "Lists only clinical notes created by the provided creator IDs."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "createdByName"
        in: "query"
        description: "Lists only clinical notes created by the provided creator name."
        schema:
          type: "string"
      - name: "createdByEmail"
        in: "query"
        description: "Lists only clinical notes created by the provided creator email."
        schema:
          type: "string"
      - name: "patientId"
        in: "query"
        description: "Lists only clinical notes associated with the provided patient\
          \ IDs."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "patientSiteId"
        in: "query"
        description: "Lists only clinical notes associated with the provided patient\
          \ site IDs."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "patientExternalIdentifier"
        in: "query"
        description: "Lists only clinical notes associated with the provided patient\
          \ external identifiers."
        schema:
          type: "array"
          items:
            type: "string"
      - name: "patientEmail"
        in: "query"
        description: "Lists only clinical notes associated with the provided patient\
          \ email."
        schema:
          type: "string"
      - name: "patientName"
        in: "query"
        description: "Lists only clinical notes associated with the provided patient\
          \ name."
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageClinicalNote"
              examples:
                clinicalNotePagedResponseExample:
                  value:
                    content:
                    - id: 88
                      type: "cptCode"
                      cptCode:
                        value: "99457"
                        displayAs: "CPT 99457"
                      createTimestamp: "2024-07-04T00:00:00Z"
                      lastUpdateTimestamp: "2024-07-14T00:00:00Z"
                      open: true
                      mdCode: "md-123"
                      dxCode: "dx-123"
                      description: "This is a clinical note."
                      createdBy:
                        id: 1772
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_1772@example.com"
                      assignee:
                        id: 100
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_100@example.com"
                      patient:
                        id: 456
                        externalIdentifier: "external-identifier-123"
                        firstName: "John"
                        lastName: "Doe"
                        dateOfBirth: "1987-09-13"
                        email: "email@example.com"
                        phoneNumber: "111-222-3333"
                        address:
                          lineOne: "1234 Market Street"
                          lineTwo: "Suite 110"
                          city: "Philadelphia"
                          state: "PA"
                          zipCode: "19137"
                          country: "USA"
                        sex: "unknown"
                      activity:
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 1"
                        minutesSpent: 2
                        createdBy:
                          id: 4
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_4@example.com"
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 2"
                        minutesSpent: 4
                        createdBy:
                          id: 8
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_8@example.com"
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 3"
                        minutesSpent: 6
                        createdBy:
                          id: 12
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_12@example.com"
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 4"
                        minutesSpent: 8
                        createdBy:
                          id: 16
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_16@example.com"
                      totalTime: 20
                    - id: 89
                      type: "other"
                      createTimestamp: "2024-07-04T00:00:00Z"
                      lastUpdateTimestamp: "2024-07-14T00:00:00Z"
                      open: true
                      mdCode: "md-123"
                      dxCode: "dx-123"
                      description: "This is a clinical note."
                      createdBy:
                        id: 1772
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_1772@example.com"
                      assignee:
                        id: 100
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_100@example.com"
                      patient:
                        id: 456
                        externalIdentifier: "external-identifier-123"
                        firstName: "John"
                        lastName: "Doe"
                        dateOfBirth: "1987-09-13"
                        email: "email@example.com"
                        phoneNumber: "111-222-3333"
                        address:
                          lineOne: "1234 Market Street"
                          lineTwo: "Suite 110"
                          city: "Philadelphia"
                          state: "PA"
                          zipCode: "19137"
                          country: "USA"
                        sex: "unknown"
                      activity:
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 1"
                        minutesSpent: 2
                        createdBy:
                          id: 4
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_4@example.com"
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 2"
                        minutesSpent: 4
                        createdBy:
                          id: 8
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_8@example.com"
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 3"
                        minutesSpent: 6
                        createdBy:
                          id: 12
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_12@example.com"
                      - createTimestamp: "2024-07-04T00:00:00Z"
                        comment: "Activity comment 4"
                        minutesSpent: 8
                        createdBy:
                          id: 16
                          firstName: "John"
                          lastName: "Doe"
                          email: "user_16@example.com"
                      totalTime: 20
                    page: 1
                    size: 2
                    total: 4
                    first: true
                    last: false
      x-response-example: "clinicalNotePagedResponseExample"
  /api/v3/clinical-note/{clinicalNoteId}:
    get:
      tags:
      - "Clinical Notes"
      description: "Fetches details of a specific clinical note by its unique ID."
      operationId: "fetchClinicalNote"
      parameters:
      - name: "clinicalNoteId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicalNote"
              examples:
                clinicalNoteExample:
                  value:
                    id: 99
                    type: "other"
                    createTimestamp: "2024-07-04T00:00:00Z"
                    lastUpdateTimestamp: "2024-07-14T00:00:00Z"
                    open: true
                    mdCode: "md-123"
                    dxCode: "dx-123"
                    description: "This is a clinical note."
                    createdBy:
                      id: 1772
                      firstName: "John"
                      lastName: "Doe"
                      email: "user_1772@example.com"
                    assignee:
                      id: 100
                      firstName: "John"
                      lastName: "Doe"
                      email: "user_100@example.com"
                    patient:
                      id: 456
                      externalIdentifier: "external-identifier-123"
                      firstName: "John"
                      lastName: "Doe"
                      dateOfBirth: "1987-09-13"
                      email: "email@example.com"
                      phoneNumber: "111-222-3333"
                      address:
                        lineOne: "1234 Market Street"
                        lineTwo: "Suite 110"
                        city: "Philadelphia"
                        state: "PA"
                        zipCode: "19137"
                        country: "USA"
                      sex: "unknown"
                    activity:
                    - createTimestamp: "2024-07-04T00:00:00Z"
                      comment: "Activity comment 1"
                      minutesSpent: 2
                      createdBy:
                        id: 4
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_4@example.com"
                    - createTimestamp: "2024-07-04T00:00:00Z"
                      comment: "Activity comment 2"
                      minutesSpent: 4
                      createdBy:
                        id: 8
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_8@example.com"
                    - createTimestamp: "2024-07-04T00:00:00Z"
                      comment: "Activity comment 3"
                      minutesSpent: 6
                      createdBy:
                        id: 12
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_12@example.com"
                    - createTimestamp: "2024-07-04T00:00:00Z"
                      comment: "Activity comment 4"
                      minutesSpent: 8
                      createdBy:
                        id: 16
                        firstName: "John"
                        lastName: "Doe"
                        email: "user_16@example.com"
                    totalTime: 20
      x-response-example: "clinicalNoteExample"
  /api/v3/device:
    get:
      tags:
      - "Devices"
      description: "Returns a paginated list of all devices associated with the customer."
      operationId: "listDevices"
      parameters:
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page of content returned."
        schema:
          format: "int32"
          type: "integer"
      - name: "sort"
        in: "query"
        description: "The attribute to sort on"
        schema:
          $ref: "#/components/schemas/DeviceSort"
      - name: "sortDescending"
        in: "query"
        description: "True if the sort direction should be descending"
        schema:
          type: "boolean"
      - name: "id"
        in: "query"
        description: "Lists only devices with the IDs provided."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "externalIdentifier"
        in: "query"
        description: "Lists only devices with the external IDs provided."
        schema:
          type: "array"
          items:
            type: "string"
      - name: "identifierType"
        in: "query"
        description: "The device identifier type of the devices."
        schema:
          $ref: "#/components/schemas/DeviceIdentifierType"
      - name: "identifier"
        in: "query"
        description: "Lists only devices with the device identifiers provided."
        schema:
          type: "array"
          items:
            type: "string"
      - name: "status"
        in: "query"
        description: "The status of the devices."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/DeviceStatus"
      - name: "itemId"
        in: "query"
        description: "Lists only devices with the provided Item ID type."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "itemName"
        in: "query"
        description: "The name of the item."
        schema:
          type: "string"
      - name: "itemModel"
        in: "query"
        description: "The model of the item."
        schema:
          type: "string"
      - name: "itemSku"
        in: "query"
        description: "The SKU of the item."
        schema:
          type: "string"
      - name: "manufacturerId"
        in: "query"
        description: "Lists only devices created by the Manufacturer ID provided."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "itemSize"
        in: "query"
        description: "Lists only devices of the sizes provided."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/ItemSize"
      - name: "itemClass"
        in: "query"
        description: "Lists only devices of the Classes provided."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/ItemClass"
      - name: "readingType"
        in: "query"
        description: "Lists only devices that support the Reading Types provided."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/ReadingType"
      - name: "siteId"
        in: "query"
        description: "The ID of the site."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "patientId"
        in: "query"
        description: "The ID of the patient."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "patientExternalIdentifier"
        in: "query"
        description: "The external identifier of the patient."
        schema:
          type: "array"
          items:
            type: "string"
      - name: "patientEmail"
        in: "query"
        description: "The email of the patient."
        schema:
          type: "string"
      - name: "patientName"
        in: "query"
        description: "The name of the patient."
        schema:
          type: "string"
      - name: "patientSiteId"
        in: "query"
        description: "The ID of the patient site."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageDevice"
              examples:
                listDevicesResponseExample:
                  value:
                    content:
                    - id: 599
                      item:
                        id: 791
                        manufacturer:
                          id: 2
                          name: "Custom Manufacturer"
                        name: "Blood Pressure Monitor"
                        model: "iBloodPressureMonitor123"
                        sku: "0000001"
                      currentStatus: "withPatient"
                      currentPatient:
                        id: 456
                        externalIdentifier: "external-identifier-123"
                        firstName: "John"
                        lastName: "Doe"
                        dateOfBirth: "1987-09-13"
                        email: "email@example.com"
                        phoneNumber: "111-222-3333"
                        address:
                          lineOne: "1234 Market Street"
                          lineTwo: "Suite 110"
                          city: "Philadelphia"
                          state: "PA"
                          zipCode: "19137"
                          country: "USA"
                        sex: "unknown"
                      deviceIdentifiers:
                      - type: "imei"
                        value: "354833969951611"
                      - type: "serial"
                        value: "A44-A0623930"
                      - type: "macAddress"
                        value: "f51da43314fc"
                      disabledReadings: false
                    - id: 600
                      item:
                        id: 791
                        manufacturer:
                          id: 2
                          name: "Custom Manufacturer"
                        name: "Blood Pressure Monitor"
                        model: "iBloodPressureMonitor123"
                        sku: "0000001"
                      currentStatus: "withPatient"
                      currentPatient:
                        id: 456
                        externalIdentifier: "external-identifier-123"
                        firstName: "John"
                        lastName: "Doe"
                        dateOfBirth: "1987-09-13"
                        email: "email@example.com"
                        phoneNumber: "111-222-3333"
                        address:
                          lineOne: "1234 Market Street"
                          lineTwo: "Suite 110"
                          city: "Philadelphia"
                          state: "PA"
                          zipCode: "19137"
                          country: "USA"
                        sex: "unknown"
                      deviceIdentifiers:
                      - type: "imei"
                        value: "354833969951611"
                      - type: "serial"
                        value: "A44-A0623930"
                      - type: "macAddress"
                        value: "f51da43314fc"
                      disabledReadings: false
                    page: 1
                    size: 2
                    total: 4
                    first: true
                    last: false
      x-response-example: "listDevicesResponseExample"
  /api/v3/device/associate-patient:
    patch:
      tags:
      - "Devices"
      description: "This endpoint associates the device to the patient provided in\
        \ the request body.\n\nIn order to associate a device with a patient, all\
        \ of the following must apply:\n- The Patient must be associated with the\
        \ Customer making the request\n- The Device must be owned by the Customer\
        \ making the request\n- The Device must be associated with a non-Impilo site\n\
        - The Device must have a current status of \"availableAtSite\"\n***\nFor more\
        \ information see the [AssociateDeviceRequest Model](/resources/models#schema_AssociateDeviceRequest)."
      operationId: "associateDevice"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssociateDeviceRequest"
            examples:
              associateDeviceRequest:
                value:
                  deviceId: 1
                  patientExternalIdentifier: "external-identifier"
      responses:
        "204":
          description: "No Content"
      x-request-example: "associateDeviceRequest"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_AssociateDeviceRequest"
  /api/v3/device/disable-readings:
    patch:
      tags:
      - "Devices"
      description: "This endpoint disables readings for the device provided in the\
        \ request body. Readings received while\nin this status will not be processed\
        \ or saved. No alerts or webhooks will be triggered for these readings.\n\n\
        In order to disable readings for a device, all of the following must apply:\n\
        - The Device must be owned by the Customer making the request\n- The Device's\
        \ \"disabledReadings\" field must be false\n***\nFor more information see\
        \ the [DeviceReferenceRequest Model](/resources/models#schema_DeviceReferenceRequest)."
      operationId: "disableReadings"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceReferenceRequest"
      responses:
        "204":
          description: "No Content"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_DeviceReferenceRequest"
  /api/v3/device/disassociate-patient:
    patch:
      tags:
      - "Devices"
      description: "This endpoint disassociates the device from the patient provided\
        \ in the Request body.\n\nIn order to disassociate a device from a patient,\
        \ all of the following must apply:\n- The Patient must be associated with\
        \ the Customer making the request\n- The Device must be owned by the Customer\
        \ making the request\n- The Device must already be associated with the provided\
        \ Patient\n- The Device must be associated with a non-Impilo site\n- The Device\
        \ must have a current status of \"withPatient\"\n***\nFor more information\
        \ see the [AssociateDeviceRequest Model](/resources/models#schema_AssociateDeviceRequest)."
      operationId: "disassociateDevice"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssociateDeviceRequest"
            examples:
              disassociateDeviceRequestExample:
                value:
                  deviceId: 1
                  patientExternalIdentifier: "external-identifier"
      responses:
        "204":
          description: "No Content"
      x-request-example: "disassociateDeviceRequestExample"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_AssociateDeviceRequest"
  /api/v3/device/enable-readings:
    patch:
      tags:
      - "Devices"
      description: "This endpoint re-enables readings for the device provided in the\
        \ request body.\n\nIn order to re-enable readings for a device, all of the\
        \ following must apply:\n- The Device must be owned by the Customer making\
        \ the request\n- The Device's \"disabledReadings\" field must be true\n***\n\
        For more information see the [DeviceReferenceRequest Model](/resources/models#schema_DeviceReferenceRequest)."
      operationId: "enableReadings"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceReferenceRequest"
      responses:
        "204":
          description: "No Content"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_DeviceReferenceRequest"
  /api/v3/device/validate/{deviceIdentifier}:
    get:
      tags:
      - "Devices"
      description: "This endpoint validates that a Device Identifier exists and returns\
        \ the Device upon matching. On failure, it indicates that the Identifier is\
        \ not valid.\n"
      operationId: "validateDevice"
      parameters:
      - name: "deviceIdentifier"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateDeviceResponse"
              examples:
                validateDeviceResponseExample:
                  value:
                    valid: true
                    device:
                      id: 599
                      item:
                        id: 791
                        manufacturer:
                          id: 2
                          name: "Custom Manufacturer"
                        name: "Blood Pressure Monitor"
                        model: "iBloodPressureMonitor123"
                        sku: "0000001"
                      currentStatus: "withPatient"
                      currentPatient:
                        id: 456
                        externalIdentifier: "external-identifier-123"
                        firstName: "John"
                        lastName: "Doe"
                        dateOfBirth: "1987-09-13"
                        email: "email@example.com"
                        phoneNumber: "111-222-3333"
                        address:
                          lineOne: "1234 Market Street"
                          lineTwo: "Suite 110"
                          city: "Philadelphia"
                          state: "PA"
                          zipCode: "19137"
                          country: "USA"
                        sex: "unknown"
                      deviceIdentifiers:
                      - type: "imei"
                        value: "354833969951611"
                      - type: "serial"
                        value: "A44-A0623930"
                      - type: "macAddress"
                        value: "f51da43314fc"
                      disabledReadings: false
      x-response-example: "validateDeviceResponseExample"
  /api/v3/device/{deviceId}:
    get:
      tags:
      - "Devices"
      description: "This endpoint returns the Device specified by ID in the URL path.\n"
      operationId: "fetchDevice"
      parameters:
      - name: "deviceId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
              examples:
                device:
                  value:
                    id: 599
                    item:
                      id: 791
                      manufacturer:
                        id: 2
                        name: "Custom Manufacturer"
                      name: "Blood Pressure Monitor"
                      model: "iBloodPressureMonitor123"
                      sku: "0000001"
                    currentStatus: "withPatient"
                    currentPatient:
                      id: 456
                      externalIdentifier: "external-identifier-123"
                      firstName: "John"
                      lastName: "Doe"
                      dateOfBirth: "1987-09-13"
                      email: "email@example.com"
                      phoneNumber: "111-222-3333"
                      address:
                        lineOne: "1234 Market Street"
                        lineTwo: "Suite 110"
                        city: "Philadelphia"
                        state: "PA"
                        zipCode: "19137"
                        country: "USA"
                      sex: "unknown"
                    deviceIdentifiers:
                    - type: "imei"
                      value: "354833969951611"
                    - type: "serial"
                      value: "A44-A0623930"
                    - type: "macAddress"
                      value: "f51da43314fc"
                    disabledReadings: false
      x-response-example: "ApiV3ControllerExamples.device"
  /api/v3/inventory:
    get:
      tags:
      - "Inventory"
      description: "Returns a paginated list that aggregates all Used and New inventory\
        \ across\nall Impilo and Customer locations by Item type. One entry per Item\
        \ ID.\n"
      operationId: "listInventorySummary"
      parameters:
      - name: "itemId"
        in: "query"
        description: "The Item ID to filter the content by."
        schema:
          format: "int64"
          type: "integer"
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          default: "1"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page returned. Max size is 100."
        schema:
          format: "int32"
          default: "15"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageInventorySummaryRecord"
  /api/v3/inventory/impilo:
    get:
      tags:
      - "Inventory"
      description: "Returns a paginated list of a Customer's inventory by Item type\n\
        across each of the Impilo Sites. One record per Item-Site combination.\n"
      operationId: "listImpiloInventory"
      parameters:
      - name: "itemId"
        in: "query"
        description: "The Item ID to filter the content by."
        schema:
          format: "int64"
          type: "integer"
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          default: "1"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page returned. Max size is 100."
        schema:
          format: "int32"
          default: "15"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageInventoryRecord"
  /api/v3/inventory/site:
    get:
      tags:
      - "Inventory"
      description: "Returns a paginated list of a Customer's inventory by Item type\n\
        across each of the Customer Sites that there is inventory held. One record\
        \ per Item-Site combination.\n"
      operationId: "listSiteInventory"
      parameters:
      - name: "itemId"
        in: "query"
        description: "The Item ID to filter the content by."
        schema:
          format: "int64"
          type: "integer"
      - name: "siteId"
        in: "query"
        description: "The Site ID to filter the content by."
        schema:
          format: "int64"
          type: "integer"
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          default: "1"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page returned. Max size is 100."
        schema:
          format: "int32"
          default: "15"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageInventoryRecord"
  /api/v3/item:
    get:
      tags:
      - "Items"
      description: "This endpoint returns a paginated list of all items in a customer's\
        \ catalog with various filtering options including pagination, sorting, and\
        \ specific attributes such as IDs, names, models, SKUs, sizes, classes, reading\
        \ types, and manufacturer IDs.\n"
      operationId: "listItems"
      parameters:
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page of content returned. Max value is 100."
        schema:
          format: "int32"
          type: "integer"
      - name: "sort"
        in: "query"
        description: "The attribute to sort on."
        schema:
          $ref: "#/components/schemas/ItemSort"
      - name: "sortDescending"
        in: "query"
        description: "True if the sort direction should be descending."
        schema:
          type: "boolean"
      - name: "id"
        in: "query"
        description: "Lists only items with the provided Item IDs."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "name"
        in: "query"
        description: "Lists only items with the provided name."
        schema:
          type: "string"
      - name: "model"
        in: "query"
        description: "Lists only items with the provided model."
        schema:
          type: "string"
      - name: "sku"
        in: "query"
        description: "Lists only items with the provided SKU."
        schema:
          type: "string"
      - name: "itemSize"
        in: "query"
        description: "Lists only items with the provided sizes."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/ItemSize"
      - name: "itemClass"
        in: "query"
        description: "Lists only items with the provided classes."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/ItemClass"
      - name: "readingType"
        in: "query"
        description: "Lists only items with the provided reading types."
        schema:
          type: "array"
          items:
            $ref: "#/components/schemas/ReadingType"
      - name: "manufacturerId"
        in: "query"
        description: "Lists only items created by the provided Manufacturer IDs."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageItemDetailed"
              examples:
                listItemsResponseExample:
                  value:
                    content:
                    - id: 791
                      manufacturer:
                        id: 2
                        name: "Custom Manufacturer"
                      name: "Blood Pressure Monitor"
                      model: "iBloodPressureMonitor123"
                      sku: "0000001"
                      deviceIdentifierType: "imei"
                      itemClass: "glucose"
                      itemClassType: "bpMonitor"
                      size: "large"
                      dimensions:
                        length: 1.5
                        width: 1.0
                        height: 0.75
                        unit: "in"
                      readingType: "bloodGlucose"
                    - id: 791
                      manufacturer:
                        id: 2
                        name: "Custom Manufacturer"
                      name: "Blood Pressure Monitor"
                      model: "iBloodPressureMonitor123"
                      sku: "0000001"
                      deviceIdentifierType: "imei"
                      itemClass: "glucose"
                      itemClassType: "bpMonitor"
                      size: "large"
                      dimensions:
                        length: 1.5
                        width: 1.0
                        height: 0.75
                        unit: "in"
                      readingType: "bloodGlucose"
                    page: 1
                    size: 2
                    total: 4
                    first: true
                    last: false
      x-response-example: "listItemsResponseExample"
    post:
      tags:
      - "Items"
      description: "This endpoint creates a new Item in the Impilo platform. This\
        \ endpoint is only enabled for Customers that are also Manufacturer accounts.\n\
        \nItems created via this endpoint will:\n- receive a generated SKU and ID\n\
        - have a Manufacturer set to the requesting Customer\n- be set to an Orderable\
        \ status of FALSE\n\nItems created with this endpoint are not able to be ordered\
        \ until approved manually by an Impilo Admin.\nItems can still be procured\
        \ and received within Impilo's system while the orderable parameter is false.\n\
        ***\nFor more information see the [ItemRequest Model](/resources/models#schema_ItemRequest)."
      operationId: "createItem"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemRequest"
            examples:
              without-identifier:
                value:
                  name: "Blood Pressure Monitor"
                  model: "iBloodPressureMonitor123"
              with-identifier:
                value:
                  name: "Blood Pressure Monitor"
                  model: "iBloodPressureMonitor123"
                  deviceIdentifierType: "serial"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemDetailed"
              examples:
                itemRequestResponse:
                  value:
                    id: 791
                    manufacturer:
                      id: 2
                      name: "Custom Manufacturer"
                    name: "Blood Pressure Monitor"
                    model: "iBloodPressureMonitor123"
                    sku: "0000001"
                    orderable: false
                    deviceIdentifierType: "imei"
                    itemClass: "glucose"
                    itemClassType: "bpMonitor"
                    size: "large"
                    dimensions:
                      length: 1.5
                      width: 1.0
                      height: 0.75
                      unit: "in"
                    readingType: "bloodGlucose"
      x-request-example-without-identifier: "itemRequestWithoutIdentifier"
      x-request-example-with-identifier: "itemRequestWithIdentifier"
      x-response-example: "itemRequestResponse"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_ItemRequest"
  /api/v3/item/{itemId}:
    get:
      tags:
      - "Items"
      description: "This endpoint returns the Item specified by ID in the URL path.\n"
      operationId: "fetchItem"
      parameters:
      - name: "itemId"
        in: "path"
        description: "The ID of the Item to be returned."
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemDetailed"
              examples:
                fullItem:
                  value:
                    id: 791
                    manufacturer:
                      id: 2
                      name: "Custom Manufacturer"
                    name: "Blood Pressure Monitor"
                    model: "iBloodPressureMonitor123"
                    sku: "0000001"
                    deviceIdentifierType: "imei"
                    itemClass: "glucose"
                    itemClassType: "bpMonitor"
                    size: "large"
                    dimensions:
                      length: 1.5
                      width: 1.0
                      height: 0.75
                      unit: "in"
                    readingType: "bloodGlucose"
      x-response-example: "fullItem"
  /api/v3/kit:
    get:
      tags:
      - "Kits"
      description: "This endpoint returns a paginated list of all kits belonging to\
        \ a customer.\n\nYou can filter by the following parameters as query params:\n\
        - page (integer) -- The page number of the content returned.\n- size (integer)\
        \ -- The size of the page of content returned.\n- itemId (long) -- Shows only\
        \ kits that contain the specified Item ID.\n- archived (bool) -- Shows kits\
        \ that are/aren't archived, based on provided boolean value.\n"
      operationId: "listKits"
      parameters:
      - name: "page"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "itemId"
        in: "query"
        schema:
          format: "int64"
          type: "integer"
      - name: "archived"
        in: "query"
        schema:
          type: "boolean"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageKit"
              examples:
                listKitsResponse:
                  value:
                    content:
                    - id: 123
                      name: "Example Kit"
                      archived: false
                      kitItems:
                      - item:
                          id: 1
                          manufacturer:
                            id: 2
                            name: "Custom Manufacturer"
                          name: "Blood Pressure Monitor"
                          model: "iBloodPressureMonitor123"
                          sku: "0000001"
                        count: 1
                    page: 1
                    size: 15
                    total: 1
                    first: true
                    last: true
      x-response-example: "listKitsResponse"
  /api/v3/kit/{kitId}:
    get:
      tags:
      - "Kits"
      description: "This endpoint returns the Kit specified by ID in the URL path.\n"
      operationId: "fetchKit"
      parameters:
      - name: "kitId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Kit"
              examples:
                fetchKitResponse:
                  value:
                    id: 123
                    name: "Example Kit"
                    archived: false
                    kitItems:
                    - item:
                        id: 1
                        manufacturer:
                          id: 2
                          name: "Custom Manufacturer"
                        name: "Blood Pressure Monitor"
                        model: "iBloodPressureMonitor123"
                        sku: "0000001"
                      count: 1
      x-response-example: "fetchKitResponse"
  /api/v3/manufacturer:
    get:
      tags:
      - "Manufacturers"
      description: "This endpoint returns a paginated list of all manufacturers in\
        \ a customer's catalog.\n\nYou can filter by the following parameters as query\
        \ params:\n- page (integer) -- The page number of the content returned.\n\
        - size (integer) -- The size of the page of content returned.\n"
      operationId: "listManufacturers"
      parameters:
      - name: "page"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageManufacturer"
              examples:
                listManufacturersResponse:
                  value:
                    content:
                    - id: 2
                      name: "Custom Manufacturer"
                    page: 1
                    size: 15
                    total: 1
                    first: true
                    last: true
      x-response-example: "listManufacturersResponse"
  /api/v3/manufacturer/{manufacturerId}:
    get:
      tags:
      - "Manufacturers"
      description: "This endpoint returns the Manufacturer specified by ID in the\
        \ URL path.\n"
      operationId: "fetchManufacturer"
      parameters:
      - name: "manufacturerId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Manufacturer"
              examples:
                fetchManufacturerResponse:
                  value:
                    id: 2
                    name: "Custom Manufacturer"
      x-response-example: "fetchManufacturerResponse"
  /api/v3/order:
    get:
      tags:
      - "Orders"
      operationId: "listOrders"
      parameters:
      - name: "page"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "patientId"
        in: "query"
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOrder"
    post:
      tags:
      - "Orders"
      description: "This endpoint is for creating orders linked to either a patient\
        \ or a site, with order content specified by item or kit IDs and an association\
        \ with a patient or site ID. Optional attributes offer further customization,\
        \ such as tracking through external order IDs.\\n\\nFor a comprehensive guide\
        \ on utilizing this endpoint, including examples, required and optional attributes,\
        \ and additional functionalities like listing and fetching orders, visit the\
        \ [Order Management Guide](/guides/order-management).\n***\nFor more information\
        \ see the [Order Model](/resources/models#schema_Order)."
      operationId: "createOrder"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
            examples:
              existing-patient-order:
                value:
                  externalOrderIds:
                  - "xyz_123_0"
                  - "xyz_123_1"
                  - "xyz_123_2"
                  - "xyz_123_3"
                  patient:
                    id: 1234
                    sex: "unknown"
                  orderItems:
                  - item:
                      id: 1000
                    count: 10
                  - item:
                      id: 1001
                    count: 10
                  - item:
                      id: 1002
                    count: 10
                  - item:
                      id: 1003
                    count: 10
                  orderKits:
                  - kit:
                      id: 1000
                    count: 10
                  - kit:
                      id: 1001
                    count: 10
                  - kit:
                      id: 1002
                    count: 10
                  - kit:
                      id: 1003
                    count: 10
                  shippingOption: "standard"
              new-patient-order:
                value:
                  externalOrderIds:
                  - "xyz_123_0"
                  - "xyz_123_1"
                  - "xyz_123_2"
                  - "xyz_123_3"
                  patient:
                    firstName: "Steven"
                    lastName: "Glansberg"
                    email: "steve.g@gmail.com"
                    address:
                      lineOne: "123 Main Street"
                      city: "Anytown"
                      state: "PA"
                      zipCode: "19334"
                    sex: "unknown"
                  orderItems:
                  - item:
                      id: 1000
                    count: 10
                  - item:
                      id: 1001
                    count: 10
                  - item:
                      id: 1002
                    count: 10
                  - item:
                      id: 1003
                    count: 10
                  orderKits:
                  - kit:
                      id: 1000
                    count: 10
                  - kit:
                      id: 1001
                    count: 10
                  - kit:
                      id: 1002
                    count: 10
                  - kit:
                      id: 1003
                    count: 10
                  shippingOption: "standard"
              site-order:
                value:
                  externalOrderIds:
                  - "xyz_123_0"
                  - "xyz_123_1"
                  - "xyz_123_2"
                  - "xyz_123_3"
                  site:
                    id: 1234
                  orderItems:
                  - item:
                      id: 1000
                    count: 10
                  - item:
                      id: 1001
                    count: 10
                  - item:
                      id: 1002
                    count: 10
                  - item:
                      id: 1003
                    count: 10
                  orderKits:
                  - kit:
                      id: 1000
                    count: 10
                  - kit:
                      id: 1001
                    count: 10
                  - kit:
                      id: 1002
                    count: 10
                  - kit:
                      id: 1003
                    count: 10
                  shippingOption: "standard"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
      x-request-example-existing-patient-order: "createRequestExampleExistingPatientOrder"
      x-request-example-new-patient-order: "createRequestExampleNewPatientOrder"
      x-request-example-site-order: "createRequestExampleNewSiteOrder"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Order"
  /api/v3/order/{orderId}:
    get:
      tags:
      - "Orders"
      operationId: "fetchOrder"
      parameters:
      - name: "orderId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
    delete:
      tags:
      - "Orders"
      operationId: "voidOrder"
      parameters:
      - name: "orderId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "204":
          description: "No Content"
  /api/v3/patient:
    get:
      tags:
      - "Patients"
      description: "Retrieves a paginated list of patients. Optional parameters allow\
        \ specifying the page number and page size."
      operationId: "listPatients"
      parameters:
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page of content returned."
        schema:
          format: "int32"
          type: "integer"
      - name: "sort"
        in: "query"
        description: "The attribute to sort on."
        schema:
          $ref: "#/components/schemas/PatientSort"
      - name: "sortDescending"
        in: "query"
        description: "True if the sort direction should be descending."
        schema:
          type: "boolean"
      - name: "id"
        in: "query"
        description: "Lists only patients with the IDs provided."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "siteId"
        in: "query"
        description: "Lists only patients with the site IDs provided."
        schema:
          type: "array"
          items:
            format: "int64"
            type: "integer"
      - name: "externalIdentifier"
        in: "query"
        description: "Lists only patients with the external identifiers provided."
        schema:
          type: "array"
          items:
            type: "string"
      - name: "email"
        in: "query"
        description: "Lists only patients with the provided email."
        schema:
          type: "string"
      - name: "name"
        in: "query"
        description: "Lists only patients with the provided name."
        schema:
          type: "string"
      - name: "archived"
        in: "query"
        description: "Lists only patients who are archived."
        schema:
          type: "boolean"
      - name: "enrolled"
        in: "query"
        description: "Lists only patients who are enrolled."
        schema:
          type: "boolean"
      - name: "dateOfBirthMin"
        in: "query"
        description: "Lists only patients born on or after the provided date."
        schema:
          $ref: "#/components/schemas/LocalDate"
      - name: "dateOfBirthMax"
        in: "query"
        description: "Lists only patients born on or before the provided date."
        schema:
          $ref: "#/components/schemas/LocalDate"
      - name: "postalCode"
        in: "query"
        description: "Lists only patients with the provided postal code."
        schema:
          type: "string"
      - name: "country"
        in: "query"
        description: "Lists only patients with the provided country."
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagePatient"
              examples:
                patientPagedResponseExample:
                  value:
                    content:
                    - id: 456
                      externalIdentifier: "external-identifier-123"
                      firstName: "John"
                      lastName: "Doe"
                      dateOfBirth: "1987-09-13"
                      email: "email@example.com"
                      phoneNumber: "111-222-3333"
                      address:
                        lineOne: "1234 Market Street"
                        lineTwo: "Suite 110"
                        city: "Philadelphia"
                        state: "PA"
                        zipCode: "19137"
                        country: "USA"
                      sex: "unknown"
                    - id: 457
                      externalIdentifier: "external-identifier-123"
                      firstName: "John"
                      lastName: "Doe"
                      dateOfBirth: "1987-09-13"
                      email: "email@example.com"
                      phoneNumber: "111-222-3333"
                      address:
                        lineOne: "1234 Market Street"
                        lineTwo: "Suite 110"
                        city: "Philadelphia"
                        state: "PA"
                        zipCode: "19137"
                        country: "USA"
                      sex: "unknown"
                    - id: 458
                      externalIdentifier: "external-identifier-123"
                      firstName: "John"
                      lastName: "Doe"
                      dateOfBirth: "1987-09-13"
                      email: "email@example.com"
                      phoneNumber: "111-222-3333"
                      address:
                        lineOne: "1234 Market Street"
                        lineTwo: "Suite 110"
                        city: "Philadelphia"
                        state: "PA"
                        zipCode: "19137"
                        country: "USA"
                      sex: "unknown"
                    - id: 459
                      externalIdentifier: "external-identifier-123"
                      firstName: "John"
                      lastName: "Doe"
                      dateOfBirth: "1987-09-13"
                      email: "email@example.com"
                      phoneNumber: "111-222-3333"
                      address:
                        lineOne: "1234 Market Street"
                        lineTwo: "Suite 110"
                        city: "Philadelphia"
                        state: "PA"
                        zipCode: "19137"
                        country: "USA"
                      sex: "unknown"
                    - id: 460
                      externalIdentifier: "external-identifier-123"
                      firstName: "John"
                      lastName: "Doe"
                      dateOfBirth: "1987-09-13"
                      email: "email@example.com"
                      phoneNumber: "111-222-3333"
                      address:
                        lineOne: "1234 Market Street"
                        lineTwo: "Suite 110"
                        city: "Philadelphia"
                        state: "PA"
                        zipCode: "19137"
                        country: "USA"
                      sex: "unknown"
                    page: 1
                    size: 5
                    total: 10
                    first: true
                    last: false
      x-response-example: "patientPagedResponseExample"
    post:
      tags:
      - "Patients"
      description: "Creates a new patient record with the provided details.\n***\n\
        For more information see the [Patient Model](/resources/models#schema_Patient)."
      operationId: "createPatient"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Patient"
            examples:
              create-patient:
                value:
                  id: 456
                  externalIdentifier: "external-identifier-123"
                  firstName: "John"
                  lastName: "Doe"
                  dateOfBirth: "1987-09-13"
                  email: "email@example.com"
                  phoneNumber: "111-222-3333"
                  address:
                    lineOne: "1234 Market Street"
                    lineTwo: "Suite 110"
                    city: "Philadelphia"
                    state: "PA"
                    zipCode: "19137"
                    country: "USA"
                  sex: "unknown"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
      x-request-example-create-patient: "ApiV3ControllerExamples.patient"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Patient"
  /api/v3/patient/find-by-email:
    post:
      tags:
      - "Patients"
      description: "Fetches details of a specific patient by their email address,\
        \ if exists.\n\nTo search, pass a JSON object in the Request Body with a single\
        \ \"email\" attribute\n and the email to search for.\n"
      operationId: "fetchPatientByEmail"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
            examples:
              fetchByEmailExample:
                value:
                  email: "email@example.com"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
      x-request-example: "fetchByEmailExample"
  /api/v3/patient/{patientId}:
    get:
      tags:
      - "Patients"
      description: "Fetches details of a specific patient by their unique ID."
      operationId: "fetchPatient"
      parameters:
      - name: "patientId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
              examples:
                patient:
                  value:
                    id: 456
                    externalIdentifier: "external-identifier-123"
                    firstName: "John"
                    lastName: "Doe"
                    dateOfBirth: "1987-09-13"
                    email: "email@example.com"
                    phoneNumber: "111-222-3333"
                    address:
                      lineOne: "1234 Market Street"
                      lineTwo: "Suite 110"
                      city: "Philadelphia"
                      state: "PA"
                      zipCode: "19137"
                      country: "USA"
                    sex: "unknown"
      x-response-example: "ApiV3ControllerExamples.patient"
    put:
      tags:
      - "Patients"
      description: "Updates an existing patient record with new details provided in\
        \ the request body.\n***\nFor more information see the [Patient Model](/resources/models#schema_Patient)."
      operationId: "updatePatient"
      parameters:
      - name: "patientId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Patient"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Patient"
    patch:
      tags:
      - "Patients"
      description: "Applies a partial update to a patient's record, modifying only\
        \ the fields provided in the request body.\n***\nFor more information see\
        \ the [Patient Model](/resources/models#schema_Patient)."
      operationId: "patchPatient"
      parameters:
      - name: "patientId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Patient"
            examples:
              update-patient-email:
                value:
                  email: "new-email@example.com"
                  sex: "unknown"
              update-patient-external-identifier:
                value:
                  externalIdentifier: "new-external-id-123"
                  sex: "unknown"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
      x-request-example-update-patient-email: "patchPatientEmailExample"
      x-request-example-update-patient-external-identifier: "patchPatientExternalIdentifierExample"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Patient"
  /api/v3/procurement:
    post:
      tags:
      - "Procurements"
      description: "Creates a new procurement with the provided details.\n***\nFor\
        \ more information see the [Procurement Model](/resources/models#schema_Procurement)."
      operationId: "createProcurementRequest"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Procurement"
      responses:
        "201":
          description: "Created"
          content:
            application/json:
              schema:
                format: "int64"
                type: "integer"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Procurement"
  /api/v3/procurement/receipt:
    post:
      tags:
      - "Procurements"
      description: "Creates a new procurement shipping receipt with the provided details.\n\
        ***\nFor more information see the [Procurement Model](/resources/models#schema_Procurement)."
      operationId: "createShippingNotice"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Procurement"
      responses:
        "201":
          description: "Created"
          content:
            application/json:
              schema:
                format: "int64"
                type: "integer"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Procurement"
  /api/v3/procurement/{procId}/upload:
    get:
      tags:
      - "Procurements"
      description: "Fetches the uploaded file from the provided Procurement ID, if\
        \ exists.\n"
      operationId: "fetchProcurementDocument"
      parameters:
      - name: "procId"
        in: "path"
        description: "The Procurement ID to fetch the CSV from."
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                format: "binary"
                type: "string"
    post:
      tags:
      - "Procurements"
      description: "Uploads a file to the provided Procurement ID and makes accessible\
        \ to the Impilo Warehouse team for viewing.\n\nContent-Type must be set to\
        \ form-data, with a parameter of 'file' containing the CSV.\n"
      operationId: "uploadProcurementDocument"
      parameters:
      - name: "procId"
        in: "path"
        description: "The Procurement ID to attach the CSV to."
        required: true
        schema:
          format: "int64"
          type: "integer"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: "object"
      responses:
        "201":
          description: "Created"
    delete:
      tags:
      - "Procurements"
      description: "Deletes the uploaded file from the provided Procurement ID, if\
        \ exists.\n"
      operationId: "deleteProcurementDocument"
      parameters:
      - name: "procId"
        in: "path"
        description: "The Procurement ID to delete the CSV from."
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "204":
          description: "No Content"
  /api/v3/site:
    get:
      tags:
      - "Sites"
      description: "Returns a paginated list of your sites.\n\nOptional query parameters:\n\
        \    - page (integer) -- The page number of the sites returned.\n    - size\
        \ (integer) -- The number of sites returned per page.\n"
      operationId: "listSites"
      parameters:
      - name: "page"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageSite"
              examples:
                site:
                  value:
                    id: 561
                    name: "Building B"
                    active: true
                    address:
                      lineOne: "1234 Market Street"
                      lineTwo: "Suite 110"
                      city: "Philadelphia"
                      state: "PA"
                      zipCode: "19137"
                      country: "USA"
      x-response-example: "ApiV3ControllerExamples.site"
    post:
      tags:
      - "Sites"
      description: "Creates a new site with the provided details.\n\nReturns the site.\n\
        ***\nFor more information see the [Site Model](/resources/models#schema_Site)."
      operationId: "createSite"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Site"
            examples:
              create-site:
                value:
                  id: 561
                  name: "Building B"
                  active: true
                  address:
                    lineOne: "1234 Market Street"
                    lineTwo: "Suite 110"
                    city: "Philadelphia"
                    state: "PA"
                    zipCode: "19137"
                    country: "USA"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
              examples:
                site:
                  value:
                    id: 561
                    name: "Building B"
                    active: true
                    address:
                      lineOne: "1234 Market Street"
                      lineTwo: "Suite 110"
                      city: "Philadelphia"
                      state: "PA"
                      zipCode: "19137"
                      country: "USA"
      x-request-example-create-site: "ApiV3ControllerExamples.site"
      x-response-example: "ApiV3ControllerExamples.site"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Site"
  /api/v3/site/{siteId}:
    get:
      tags:
      - "Sites"
      description: "Returns the site specified by the ID in the URL path."
      operationId: "fetchSite"
      parameters:
      - name: "siteId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
              examples:
                site:
                  value:
                    id: 561
                    name: "Building B"
                    active: true
                    address:
                      lineOne: "1234 Market Street"
                      lineTwo: "Suite 110"
                      city: "Philadelphia"
                      state: "PA"
                      zipCode: "19137"
                      country: "USA"
      x-response-example: "ApiV3ControllerExamples.site"
    put:
      tags:
      - "Sites"
      description: "Update the site specified by the ID in the URL path with a new\
        \ site object.\n***\nFor more information see the [Site Model](/resources/models#schema_Site)."
      operationId: "updateSite"
      parameters:
      - name: "siteId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Site"
            examples:
              update-site:
                value:
                  id: 561
                  name: "Building B"
                  active: true
                  address:
                    lineOne: "1234 Market Street"
                    lineTwo: "Suite 110"
                    city: "Philadelphia"
                    state: "PA"
                    zipCode: "19137"
                    country: "USA"
      responses:
        "204":
          description: "No Content"
      x-request-example-update-site: "ApiV3ControllerExamples.site"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Site"
    patch:
      tags:
      - "Sites"
      description: "Partially update the site specified by the ID in the URL path\
        \ with a new site object.\n***\nFor more information see the [Site Model](/resources/models#schema_Site)."
      operationId: "patchSite"
      parameters:
      - name: "siteId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Site"
            examples:
              patch-site:
                value:
                  id: 561
                  name: "Building B"
                  active: true
                  address:
                    lineOne: "1234 Market Street"
                    lineTwo: "Suite 110"
                    city: "Philadelphia"
                    state: "PA"
                    zipCode: "19137"
                    country: "USA"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
              examples:
                site:
                  value:
                    id: 561
                    name: "Building B"
                    active: true
                    address:
                      lineOne: "1234 Market Street"
                      lineTwo: "Suite 110"
                      city: "Philadelphia"
                      state: "PA"
                      zipCode: "19137"
                      country: "USA"
      x-request-example-patch-site: "ApiV3ControllerExamples.site"
      x-response-example: "ApiV3ControllerExamples.site"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Site"
  /api/v3/transfer/device-transfer-request:
    post:
      tags:
      - "Transfers"
      description: "Creates a Device Transfer Request, which specifies specific Device\
        \ Identifiers (such as\nSerial Numbers, IMEIs, etc) to transfer from the Requesting\
        \ customer-manufacturer to another\nCustomer account.\n\nTo complete the transfer\
        \ request, the following must be true:\n- The Customer account must be designated\
        \ as a Manufacturer\n- The Customer ID provided must be associated with the\
        \ Customer-Manufacturer making the request\n- The deviceIdentifiers parameter\
        \ must be a non-empty List of strings\n- All devices listed via the deviceIdentifiers\
        \ parameter must belong to the requesting Customer-Manufacturer\n- The Devices\
        \ listed via the deviceIdentifiers parameter must be in Available or Available\
        \ - Repacked status\n- Devices must not have a Patient assigned to them.\n\
        ***\nFor more information see the [DeviceTransferRequest Model](/resources/models#schema_DeviceTransferRequest)."
      operationId: "createDeviceTransferRequest"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceTransferRequest"
            examples:
              createDeviceTransferRequestExample:
                value:
                  toCustomerId: 8
                  deviceIdentifiers:
                  - "354833969951611"
                  - "A44-A0623930"
                  - "f51da43314fc"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                format: "int64"
                type: "integer"
      x-request-example: "createDeviceTransferRequestExample"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_DeviceTransferRequest"
  /api/v3/transfer/item-transfer-request:
    post:
      tags:
      - "Transfers"
      description: "Creates an Item Transfer Request, which lists general Items and\
        \ Quantities to transfer from a\nCustomer-Manufacturer account to another\
        \ Customer account.\n\nTo complete the transfer request, the following must\
        \ be true:\n- The Customer account must be designated as a Manufacturer\n\
        - The Customer ID provided must be associated with the Customer-Manufacturer\
        \ making the request\n- The transfers parameter must be a non-empty list of\
        \ ItemTransfer objects\n- Each ItemTransfer's item parameter must include\
        \ an ID for the Item to be transferred\n- Each itemTransfer's item parameter\
        \ must be in both the Requesting AND Receiving customer catalogs\n- Each ItemTransfer's\
        \ quantity parameter must be an integer value greater than 0\n\nThe only requirement\
        \ for the ItemTransfer's item parameter is a JSON object that includes an\
        \ ID of the Item requested.\n***\nFor more information see the [ItemTransferRequest\
        \ Model](/resources/models#schema_ItemTransferRequest)."
      operationId: "createItemTransferRequest"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemTransferRequest"
            examples:
              createItemTransferRequestExample:
                value:
                  toCustomerId: 1
                  transfers:
                  - item:
                      id: 10
                      manufacturer:
                        id: 2
                        name: "Custom Manufacturer"
                      name: "Blood Pressure Monitor"
                      model: "iBloodPressureMonitor123"
                      sku: "0000001"
                    count: 20
                  - item:
                      id: 10
                      manufacturer:
                        id: 2
                        name: "Custom Manufacturer"
                      name: "Blood Pressure Monitor"
                      model: "iBloodPressureMonitor123"
                      sku: "0000001"
                    count: 20
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                format: "int64"
                type: "integer"
      x-request-example: "createItemTransferRequestExample"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_ItemTransferRequest"
  /api/v3/transfer/transfer-request:
    get:
      tags:
      - "Transfers"
      description: "Retrieves a paginated list of Transfer Requests from the Impilo\
        \ platform."
      operationId: "listTransferRequests"
      parameters:
      - name: "page"
        in: "query"
        description: "The page number of the content returned."
        schema:
          format: "int32"
          default: "1"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The size of the page returned. Max size is 100."
        schema:
          format: "int32"
          default: "15"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageTransferRequest"
  /api/v3/transfer/transfer-request/{id}:
    get:
      tags:
      - "Transfers"
      description: "Fetches a Transfer Request by ID from the Impilo platform."
      operationId: "fetchTransferRequest"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the Transfer Request to fetch."
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferRequest"
              examples:
                item-transfer-request:
                  value:
                    id: 123
                    fromCustomer:
                      id: 2
                      name: "Customer 2"
                    toCustomer:
                      id: 3
                      name: "Customer 3"
                    currentStatus: "requested"
                    createdAt: "2024-08-08T14:03:30.918667500Z"
                    transferRequestNotes:
                    - note: "Note Text Here"
                      createdAt: "2024-08-08T14:03:30.918667500Z"
                    transferRequestEvents:
                    - name: "requested"
                      eventTimestamp: "2024-08-08T14:03:30.918667500Z"
                    requestedEntries:
                    - device:
                        id: 599
                        item:
                          id: 791
                          manufacturer:
                            id: 2
                            name: "Custom Manufacturer"
                          name: "Blood Pressure Monitor"
                          model: "iBloodPressureMonitor123"
                          sku: "0000001"
                        currentStatus: "withPatient"
                        currentPatient:
                          id: 456
                          externalIdentifier: "external-identifier-123"
                          firstName: "John"
                          lastName: "Doe"
                          dateOfBirth: "1987-09-13"
                          email: "email@example.com"
                          phoneNumber: "111-222-3333"
                          address:
                            lineOne: "1234 Market Street"
                            lineTwo: "Suite 110"
                            city: "Philadelphia"
                            state: "PA"
                            zipCode: "19137"
                            country: "USA"
                          sex: "unknown"
                        deviceIdentifiers:
                        - type: "imei"
                          value: "354833969951611"
                        - type: "serial"
                          value: "A44-A0623930"
                        - type: "macAddress"
                          value: "f51da43314fc"
                        disabledReadings: false
                device-transfer-request:
                  value:
                    id: 123
                    fromCustomer:
                      id: 2
                      name: "Customer 2"
                    toCustomer:
                      id: 3
                      name: "Customer 3"
                    currentStatus: "requested"
                    createdAt: "2024-08-08T14:03:31.059381700Z"
                    transferRequestNotes:
                    - note: "Note Text Here"
                      createdAt: "2024-08-08T14:03:31.059381700Z"
                    transferRequestEvents:
                    - name: "requested"
                      eventTimestamp: "2024-08-08T14:03:31.059381700Z"
                    requestedEntries:
                    - item:
                        id: 791
                        manufacturer:
                          id: 2
                          name: "Custom Manufacturer"
                        name: "Blood Pressure Monitor"
                        model: "iBloodPressureMonitor123"
                        sku: "0000001"
                      quantity: 5
      x-response-example-item-transfer-request: "createItemTransferResponseExample"
      x-response-example-device-transfer-request: "createDeviceTransferResponseExample"
  /api/v3/webhook:
    get:
      tags:
      - "Webhooks"
      description: "This endpoint retrieves a paginated list of V3 webhooks that the\
        \ associated Customer is subscribed to.\n"
      operationId: "listWebhooks"
      parameters:
      - name: "page"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageWebhook"
              examples:
                ListWebhooksResponse:
                  value:
                    content:
                    - id: 123
                      type: "order.status"
                      url: "https://impilo.health"
                    page: 1
                    size: 15
                    total: 1
                    first: true
                    last: true
      x-response-example: "ListWebhooksResponse"
    post:
      tags:
      - "Webhooks"
      description: "This endpoint creates a V3 webhook subscription of the type provided\
        \ in the ***type*** attribute of the Webhook object.\n> Note: This endpoint\
        \ will create a V3 webhook -- you cannot view V3 webhooks from the V1 or V2\
        \ endpoints.\n***\nFor more information see the [Webhook Model](/resources/models#schema_Webhook)."
      operationId: "createWebhook"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Webhook"
            examples:
              WebhookRequestExample:
                value:
                  type: "order.status"
                  url: "https://impilo.health"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
              examples:
                WebhookResponseExample:
                  value:
                    id: 123
                    type: "order.status"
                    url: "https://impilo.health"
      x-request-example: "WebhookRequestExample"
      x-response-example: "WebhookResponseExample"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Webhook"
  /api/v3/webhook-secret:
    get:
      tags:
      - "Webhooks"
      description: "Gets your Webhook Secret if it exists. Otherwise returns an error.\n"
      operationId: "fetchWebhookSecret"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSecret"
    post:
      tags:
      - "Webhooks"
      description: "Creates a Webhook Secret to use with the Impilo Platform with\
        \ the provides `secret`. The secret will be passed along as a header with\n\
        Webhooks sent from Impilo.\n\nReturns an error if you already have a Webhook\
        \ secret created.\n***\nFor more information see the [WebhookSecret Model](/resources/models#schema_WebhookSecret)."
      operationId: "createWebhookSecret"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookSecret"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSecret"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_WebhookSecret"
    delete:
      tags:
      - "Webhooks"
      description: "Deletes your Webhook secret if it exists.\n\nReturns an error\
        \ if you don't have a secret configured.\n"
      operationId: "deleteWebhookSecret"
      responses:
        "204":
          description: "No Content"
    patch:
      tags:
      - "Webhooks"
      description: "Updates your Webhook Secret if it exists. Requires a `secret`\
        \ parameter.\n\nReturns an error if you don't have a secret configured.\n\
        ***\nFor more information see the [WebhookSecret Model](/resources/models#schema_WebhookSecret)."
      operationId: "updateWebhookSecret"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookSecret"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSecret"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_WebhookSecret"
  /api/v3/webhook/logs:
    get:
      tags:
      - "Webhooks"
      description: "Retrieves a paginated list of webhook logs that record historical\
        \ attempts to send webhook payloads to a customer's servers. This endpoint\
        \ allows filtering logs based on webhook type, creation timestamp range, retry\
        \ attempts range, last response status, last retry timestamp range, and pagination\
        \ settings. It is useful for auditing and debugging purposes."
      operationId: "listWebhookLogs"
      parameters:
      - name: "webhookType"
        in: "query"
        description: "The webhook type"
        schema:
          $ref: "#/components/schemas/WebhookType"
      - name: "retryAttemptsMin"
        in: "query"
        description: "The minimum retry attempts"
        schema:
          format: "int32"
          type: "integer"
      - name: "retryAttemptsMax"
        in: "query"
        description: "The maximum retry attempts"
        schema:
          format: "int32"
          type: "integer"
      - name: "lastResponseStatus"
        in: "query"
        description: "The last response status"
        schema:
          type: "array"
          items:
            format: "int32"
            type: "integer"
      - name: "startLastRetryTimestamp"
        in: "query"
        description: "The minimum last retry timestamp"
        schema:
          $ref: "#/components/schemas/Instant"
      - name: "endLastRetryTimestamp"
        in: "query"
        description: "The maximum last retry timestamp"
        schema:
          $ref: "#/components/schemas/Instant"
      - name: "startTimestamp"
        in: "query"
        description: "The minimum timestamp"
        schema:
          $ref: "#/components/schemas/Instant"
      - name: "endTimestamp"
        in: "query"
        description: "The maximum timestamp (exclusive)"
        schema:
          $ref: "#/components/schemas/Instant"
      - name: "page"
        in: "query"
        description: "The number of the page to retrieve (1 based)"
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        description: "The number of items per page"
        schema:
          format: "int32"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageWebhookLog"
  /api/v3/webhook/{webhookId}:
    get:
      tags:
      - "Webhooks"
      description: "This endpoint retrieves a particular Webhook of a customer by\
        \ the ID provided in the path.\n"
      operationId: "fetchWebhook"
      parameters:
      - name: "webhookId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
              examples:
                fetchWebhooksResponse:
                  value:
                    id: 123
                    type: "order.status"
                    url: "https://impilo.health"
      x-response-example: "fetchWebhooksResponse"
    delete:
      tags:
      - "Webhooks"
      description: "This endpoint deletes the specified Webhook from the customer's\
        \ subscriptions.\n"
      operationId: "deleteWebhook"
      parameters:
      - name: "webhookId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      responses:
        "204":
          description: "No Content"
    patch:
      tags:
      - "Webhooks"
      description: "This endpoint updates the specified Webhook with a new URL provided\
        \ in the request body.\n> Note: The provided URL must be different than the\
        \ existing URL of the webhook or a 400 response will be returned.\n***\nFor\
        \ more information see the [Webhook Model](/resources/models#schema_Webhook)."
      operationId: "patchWebhook"
      parameters:
      - name: "webhookId"
        in: "path"
        required: true
        schema:
          format: "int64"
          type: "integer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Webhook"
            examples:
              updateWebhookRequestExample:
                value:
                  url: "https://impilo.health/new-url"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
              examples:
                updateWebhookResponseExample:
                  value:
                    id: 123
                    type: "order.status"
                    url: "https://impilo.health/new-url"
      x-request-example: "updateWebhookRequestExample"
      x-response-example: "updateWebhookResponseExample"
      externalDocs:
        url: "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Webhook"
  /api/v3/blood-glucose-reading:
    get:
      tags:
      - "Readings - Blood Glucose"
      description: "This endpoint returns a paginated list of Blood Glucose Readings\
        \ for the patients associated with a Customer.\n\nFiltering can be done by\
        \ any of the following query parameters:\n- page (integer) -- The page number\
        \ of the content returned.\n- size (integer) -- The size of the page of content\
        \ returned.\n- patientId (long) -- The patient's Impilo identifier.\n- externalId\
        \ (string) -- Any external identifier associated with this patient.\n- startTimestamp\
        \ (string) -- An ISO-formatted string with an applicable timezone, such as\
        \ 2024-01-25T13:50:50.0Z\n- endTimestamp (string) -- An ISO-formatted string\
        \ with an applicable timezone, such as 2024-01-27T13:50:50.0Z\n"
      operationId: "listBloodGlucoseReadings"
      parameters:
      - name: "page"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "size"
        in: "query"
        schema:
          format: "int32"
          type: "integer"
      - name: "patientId"
[...]
