{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Impilo API",
    "version" : "3.0"
  },
  "servers" : [ {
    "url" : "https://app.impiloplatform.com",
    "description" : "Production server"
  }, {
    "url" : "https://staging.impiloplatform.com",
    "description" : "Staging server"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "Alert Configuration"
  }, {
    "name" : "Clinical Notes"
  }, {
    "name" : "Devices"
  }, {
    "name" : "Inventory"
  }, {
    "name" : "Items"
  }, {
    "name" : "Kits"
  }, {
    "name" : "Manufacturers"
  }, {
    "name" : "Orders"
  }, {
    "name" : "Patients"
  }, {
    "name" : "Procurements"
  }, {
    "name" : "Returns"
  }, {
    "name" : "Sites"
  }, {
    "name" : "Support Tickets"
  }, {
    "name" : "Transfers"
  }, {
    "name" : "Webhooks"
  }, {
    "name" : "Readings - Blood Glucose"
  }, {
    "name" : "Readings - Blood Oxygen"
  }, {
    "name" : "Readings - Blood Pressure"
  }, {
    "name" : "Readings - Heart Rate"
  }, {
    "name" : "Readings - Heart Rate Variability"
  }, {
    "name" : "Readings - Peak Flow"
  }, {
    "name" : "Readings - Sleep Mat Activity"
  }, {
    "name" : "Readings - Sleep Mat Duration"
  }, {
    "name" : "Readings - Temperature"
  }, {
    "name" : "Readings - Weight"
  }, {
    "name" : "Tests"
  } ],
  "paths" : {
    "/api/v3/alerts/configuration/global" : {
      "put" : {
        "tags" : [ "Alert Configuration" ],
        "summary" : "Set Global Alert Config",
        "description" : "This endpoint updates your global Alert Configuration for the type provided in the ***alertConfigurationType*** attribute of the Alert Configuration object.\n***\nFor more information see the [AlertConfiguration Model](/resources/models#schema_AlertConfiguration).",
        "operationId" : "setGlobalAlertConfig",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertConfiguration"
              },
              "examples" : {
                "AlertConfigurationExample" : {
                  "value" : {
                    "alertConfigurationType" : "bloodPressure",
                    "enabled" : true,
                    "notifyHealthCoach" : true,
                    "notifyPatient" : true,
                    "config" : {
                      "rules" : [ {
                        "severity" : "MEDIUM",
                        "field" : "systolic",
                        "type" : "threshold",
                        "value" : 140,
                        "operator" : "gt"
                      }, {
                        "severity" : "MEDIUM",
                        "field" : "systolic",
                        "type" : "relative_change",
                        "value" : 20.0,
                        "direction" : "increase"
                      } ]
                    },
                    "notificationEmails" : [ "notificationEmail1@example.com", "notificationEmail2@example.com" ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "x-request-example" : "AlertConfigurationExample",
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_AlertConfiguration"
        }
      }
    },
    "/api/v3/alerts/configuration/global/{type}" : {
      "get" : {
        "tags" : [ "Alert Configuration" ],
        "summary" : "Get Global Alert Config",
        "description" : "This endpoint fetches your global Alert Configuration for the type provided in url.\n",
        "operationId" : "getGlobalAlertConfig",
        "parameters" : [ {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertConfiguration"
                },
                "examples" : {
                  "AlertConfigurationExample" : {
                    "value" : {
                      "alertConfigurationType" : "bloodPressure",
                      "enabled" : true,
                      "notifyHealthCoach" : true,
                      "notifyPatient" : true,
                      "config" : {
                        "rules" : [ {
                          "severity" : "MEDIUM",
                          "field" : "systolic",
                          "type" : "threshold",
                          "value" : 140,
                          "operator" : "gt"
                        }, {
                          "severity" : "MEDIUM",
                          "field" : "systolic",
                          "type" : "relative_change",
                          "value" : 20.0,
                          "direction" : "increase"
                        } ]
                      },
                      "notificationEmails" : [ "notificationEmail1@example.com", "notificationEmail2@example.com" ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "AlertConfigurationExample"
      }
    },
    "/api/v3/alerts/configuration/patient/{patientId}" : {
      "put" : {
        "tags" : [ "Alert Configuration" ],
        "summary" : "Set Patient Alert Config",
        "description" : "This endpoint updates your patient specific Alert Configurations for the type provided in the ***alertConfigurationType*** attribute of the Alert Configuration object and the patientId specified in the URL.\n***\nFor more information see the [AlertConfiguration Model](/resources/models#schema_AlertConfiguration).",
        "operationId" : "setPatientAlertConfig",
        "parameters" : [ {
          "name" : "patientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertConfiguration"
              },
              "examples" : {
                "AlertConfigurationExample" : {
                  "value" : {
                    "alertConfigurationType" : "bloodPressure",
                    "enabled" : true,
                    "notifyHealthCoach" : true,
                    "notifyPatient" : true,
                    "config" : {
                      "rules" : [ {
                        "severity" : "MEDIUM",
                        "field" : "systolic",
                        "type" : "threshold",
                        "value" : 140,
                        "operator" : "gt"
                      }, {
                        "severity" : "MEDIUM",
                        "field" : "systolic",
                        "type" : "relative_change",
                        "value" : 20.0,
                        "direction" : "increase"
                      } ]
                    },
                    "notificationEmails" : [ "notificationEmail1@example.com", "notificationEmail2@example.com" ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "x-request-example" : "AlertConfigurationExample",
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_AlertConfiguration"
        }
      }
    },
    "/api/v3/alerts/configuration/patient/{patientId}/{type}" : {
      "get" : {
        "tags" : [ "Alert Configuration" ],
        "summary" : "Get Patient Alert Config",
        "description" : "This endpoint fetches your patient specific Alert Configuration for the patientId and type provided in url.\n",
        "operationId" : "getPatientAlertConfig",
        "parameters" : [ {
          "name" : "patientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertConfiguration"
                },
                "examples" : {
                  "AlertConfigurationExample" : {
                    "value" : {
                      "alertConfigurationType" : "bloodPressure",
                      "enabled" : true,
                      "notifyHealthCoach" : true,
                      "notifyPatient" : true,
                      "config" : {
                        "rules" : [ {
                          "severity" : "MEDIUM",
                          "field" : "systolic",
                          "type" : "threshold",
                          "value" : 140,
                          "operator" : "gt"
                        }, {
                          "severity" : "MEDIUM",
                          "field" : "systolic",
                          "type" : "relative_change",
                          "value" : 20.0,
                          "direction" : "increase"
                        } ]
                      },
                      "notificationEmails" : [ "notificationEmail1@example.com", "notificationEmail2@example.com" ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "AlertConfigurationExample"
      }
    },
    "/api/v3/alerts/configuration/site/{siteId}" : {
      "put" : {
        "tags" : [ "Alert Configuration" ],
        "summary" : "Set Site Alert Config",
        "description" : "This endpoint updates your site specific Alert Configurations for the type provided in the ***alertConfigurationType*** attribute of the Alert Configuration object and the siteId specified in the URL.\n***\nFor more information see the [AlertConfiguration Model](/resources/models#schema_AlertConfiguration).",
        "operationId" : "setSiteAlertConfig",
        "parameters" : [ {
          "name" : "siteId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertConfiguration"
              },
              "examples" : {
                "AlertConfigurationExample" : {
                  "value" : {
                    "alertConfigurationType" : "bloodPressure",
                    "enabled" : true,
                    "notifyHealthCoach" : true,
                    "notifyPatient" : true,
                    "config" : {
                      "rules" : [ {
                        "severity" : "MEDIUM",
                        "field" : "systolic",
                        "type" : "threshold",
                        "value" : 140,
                        "operator" : "gt"
                      }, {
                        "severity" : "MEDIUM",
                        "field" : "systolic",
                        "type" : "relative_change",
                        "value" : 20.0,
                        "direction" : "increase"
                      } ]
                    },
                    "notificationEmails" : [ "notificationEmail1@example.com", "notificationEmail2@example.com" ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "x-request-example" : "AlertConfigurationExample",
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_AlertConfiguration"
        }
      }
    },
    "/api/v3/alerts/configuration/site/{siteId}/{type}" : {
      "get" : {
        "tags" : [ "Alert Configuration" ],
        "summary" : "Get Site Alert Config",
        "description" : "This endpoint fetches your site specific Alert Configuration for the siteId and type provided in url.\n",
        "operationId" : "getSiteAlertConfig",
        "parameters" : [ {
          "name" : "siteId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertConfiguration"
                },
                "examples" : {
                  "AlertConfigurationExample" : {
                    "value" : {
                      "alertConfigurationType" : "bloodPressure",
                      "enabled" : true,
                      "notifyHealthCoach" : true,
                      "notifyPatient" : true,
                      "config" : {
                        "rules" : [ {
                          "severity" : "MEDIUM",
                          "field" : "systolic",
                          "type" : "threshold",
                          "value" : 140,
                          "operator" : "gt"
                        }, {
                          "severity" : "MEDIUM",
                          "field" : "systolic",
                          "type" : "relative_change",
                          "value" : 20.0,
                          "direction" : "increase"
                        } ]
                      },
                      "notificationEmails" : [ "notificationEmail1@example.com", "notificationEmail2@example.com" ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "AlertConfigurationExample"
      }
    },
    "/api/v3/clinical-note" : {
      "get" : {
        "tags" : [ "Clinical Notes" ],
        "summary" : "List Clinical Notes",
        "description" : "Lists clinical notes with various filtering options including pagination, sorting, and specific attributes such as IDs, types, assignee details, creator details, patient details, and more.\nThis endpoint supports comprehensive filtering to retrieve relevant clinical notes based on the provided criteria.\n",
        "operationId" : "listClinicalNotes",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number of the content returned.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page of content returned.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The attribute to sort on.",
          "schema" : {
            "$ref" : "#/components/schemas/ClinicalNoteSort"
          }
        }, {
          "name" : "sortDescending",
          "in" : "query",
          "description" : "True if the sort direction should be descending.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Lists only clinical notes with the IDs provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "open",
          "in" : "query",
          "description" : "Lists only open clinical notes.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Lists only clinical notes with the provided description.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Lists only clinical notes with the provided types.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ClinicalNoteType"
            }
          }
        }, {
          "name" : "cptCodeValue",
          "in" : "query",
          "description" : "Lists only clinical notes with the provided CPT code values.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "assigneeId",
          "in" : "query",
          "description" : "Lists only clinical notes assigned to the provided assignee IDs.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "assigneeName",
          "in" : "query",
          "description" : "Lists only clinical notes assigned to the provided assignee name.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assigneeEmail",
          "in" : "query",
          "description" : "Lists only clinical notes assigned to the provided assignee email.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdById",
          "in" : "query",
          "description" : "Lists only clinical notes created by the provided creator IDs.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "createdByName",
          "in" : "query",
          "description" : "Lists only clinical notes created by the provided creator name.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdByEmail",
          "in" : "query",
          "description" : "Lists only clinical notes created by the provided creator email.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patientId",
          "in" : "query",
          "description" : "Lists only clinical notes associated with the provided patient IDs.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "patientSiteId",
          "in" : "query",
          "description" : "Lists only clinical notes associated with the provided patient site IDs.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "patientExternalIdentifier",
          "in" : "query",
          "description" : "Lists only clinical notes associated with the provided patient external identifiers.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "patientEmail",
          "in" : "query",
          "description" : "Lists only clinical notes associated with the provided patient email.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patientName",
          "in" : "query",
          "description" : "Lists only clinical notes associated with the provided patient name.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageClinicalNote"
                },
                "examples" : {
                  "clinicalNotePagedResponseExample" : {
                    "value" : {
                      "content" : [ {
                        "id" : 88,
                        "type" : "cptCode",
                        "cptCode" : {
                          "value" : "99457",
                          "displayAs" : "CPT 99457"
                        },
                        "createTimestamp" : "2024-07-04T00:00:00Z",
                        "lastUpdateTimestamp" : "2024-07-14T00:00:00Z",
                        "open" : true,
                        "mdCode" : "md-123",
                        "dxCode" : "dx-123",
                        "description" : "This is a clinical note.",
                        "createdBy" : {
                          "id" : 1772,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_1772@example.com"
                        },
                        "assignee" : {
                          "id" : 100,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_100@example.com"
                        },
                        "patient" : {
                          "id" : 456,
                          "externalIdentifier" : "external-identifier-123",
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "dateOfBirth" : "1987-09-13",
                          "email" : "email@example.com",
                          "phoneNumber" : "111-222-3333",
                          "address" : {
                            "lineOne" : "1234 Market Street",
                            "lineTwo" : "Suite 110",
                            "city" : "Philadelphia",
                            "state" : "PA",
                            "zipCode" : "19137",
                            "country" : "USA"
                          },
                          "sex" : "unknown"
                        },
                        "activity" : [ {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 1",
                          "minutesSpent" : 2,
                          "createdBy" : {
                            "id" : 4,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_4@example.com"
                          }
                        }, {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 2",
                          "minutesSpent" : 4,
                          "createdBy" : {
                            "id" : 8,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_8@example.com"
                          }
                        }, {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 3",
                          "minutesSpent" : 6,
                          "createdBy" : {
                            "id" : 12,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_12@example.com"
                          }
                        }, {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 4",
                          "minutesSpent" : 8,
                          "createdBy" : {
                            "id" : 16,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_16@example.com"
                          }
                        } ],
                        "totalTime" : 20
                      }, {
                        "id" : 89,
                        "type" : "other",
                        "createTimestamp" : "2024-07-04T00:00:00Z",
                        "lastUpdateTimestamp" : "2024-07-14T00:00:00Z",
                        "open" : true,
                        "mdCode" : "md-123",
                        "dxCode" : "dx-123",
                        "description" : "This is a clinical note.",
                        "createdBy" : {
                          "id" : 1772,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_1772@example.com"
                        },
                        "assignee" : {
                          "id" : 100,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_100@example.com"
                        },
                        "patient" : {
                          "id" : 456,
                          "externalIdentifier" : "external-identifier-123",
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "dateOfBirth" : "1987-09-13",
                          "email" : "email@example.com",
                          "phoneNumber" : "111-222-3333",
                          "address" : {
                            "lineOne" : "1234 Market Street",
                            "lineTwo" : "Suite 110",
                            "city" : "Philadelphia",
                            "state" : "PA",
                            "zipCode" : "19137",
                            "country" : "USA"
                          },
                          "sex" : "unknown"
                        },
                        "activity" : [ {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 1",
                          "minutesSpent" : 2,
                          "createdBy" : {
                            "id" : 4,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_4@example.com"
                          }
                        }, {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 2",
                          "minutesSpent" : 4,
                          "createdBy" : {
                            "id" : 8,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_8@example.com"
                          }
                        }, {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 3",
                          "minutesSpent" : 6,
                          "createdBy" : {
                            "id" : 12,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_12@example.com"
                          }
                        }, {
                          "createTimestamp" : "2024-07-04T00:00:00Z",
                          "comment" : "Activity comment 4",
                          "minutesSpent" : 8,
                          "createdBy" : {
                            "id" : 16,
                            "firstName" : "John",
                            "lastName" : "Doe",
                            "email" : "user_16@example.com"
                          }
                        } ],
                        "totalTime" : 20
                      } ],
                      "page" : 1,
                      "size" : 2,
                      "total" : 4,
                      "first" : true,
                      "last" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "clinicalNotePagedResponseExample"
      }
    },
    "/api/v3/clinical-note/{clinicalNoteId}" : {
      "get" : {
        "tags" : [ "Clinical Notes" ],
        "summary" : "Fetch Clinical Note",
        "description" : "Fetches details of a specific clinical note by its unique ID.",
        "operationId" : "fetchClinicalNote",
        "parameters" : [ {
          "name" : "clinicalNoteId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClinicalNote"
                },
                "examples" : {
                  "clinicalNoteExample" : {
                    "value" : {
                      "id" : 99,
                      "type" : "other",
                      "createTimestamp" : "2024-07-04T00:00:00Z",
                      "lastUpdateTimestamp" : "2024-07-14T00:00:00Z",
                      "open" : true,
                      "mdCode" : "md-123",
                      "dxCode" : "dx-123",
                      "description" : "This is a clinical note.",
                      "createdBy" : {
                        "id" : 1772,
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "email" : "user_1772@example.com"
                      },
                      "assignee" : {
                        "id" : 100,
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "email" : "user_100@example.com"
                      },
                      "patient" : {
                        "id" : 456,
                        "externalIdentifier" : "external-identifier-123",
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "dateOfBirth" : "1987-09-13",
                        "email" : "email@example.com",
                        "phoneNumber" : "111-222-3333",
                        "address" : {
                          "lineOne" : "1234 Market Street",
                          "lineTwo" : "Suite 110",
                          "city" : "Philadelphia",
                          "state" : "PA",
                          "zipCode" : "19137",
                          "country" : "USA"
                        },
                        "sex" : "unknown"
                      },
                      "activity" : [ {
                        "createTimestamp" : "2024-07-04T00:00:00Z",
                        "comment" : "Activity comment 1",
                        "minutesSpent" : 2,
                        "createdBy" : {
                          "id" : 4,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_4@example.com"
                        }
                      }, {
                        "createTimestamp" : "2024-07-04T00:00:00Z",
                        "comment" : "Activity comment 2",
                        "minutesSpent" : 4,
                        "createdBy" : {
                          "id" : 8,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_8@example.com"
                        }
                      }, {
                        "createTimestamp" : "2024-07-04T00:00:00Z",
                        "comment" : "Activity comment 3",
                        "minutesSpent" : 6,
                        "createdBy" : {
                          "id" : 12,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_12@example.com"
                        }
                      }, {
                        "createTimestamp" : "2024-07-04T00:00:00Z",
                        "comment" : "Activity comment 4",
                        "minutesSpent" : 8,
                        "createdBy" : {
                          "id" : 16,
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "email" : "user_16@example.com"
                        }
                      } ],
                      "totalTime" : 20
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "clinicalNoteExample"
      }
    },
    "/api/v3/device" : {
      "get" : {
        "tags" : [ "Devices" ],
        "summary" : "List Devices",
        "description" : "Returns a paginated list of all devices associated with the customer.",
        "operationId" : "listDevices",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number of the content returned.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page of content returned.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The attribute to sort on",
          "schema" : {
            "$ref" : "#/components/schemas/DeviceSort"
          }
        }, {
          "name" : "sortDescending",
          "in" : "query",
          "description" : "True if the sort direction should be descending",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Lists only devices with the IDs provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "externalIdentifier",
          "in" : "query",
          "description" : "Lists only devices with the external IDs provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "identifierType",
          "in" : "query",
          "description" : "The device identifier type of the devices.",
          "schema" : {
            "$ref" : "#/components/schemas/DeviceIdentifierType"
          }
        }, {
          "name" : "identifier",
          "in" : "query",
          "description" : "Lists only devices with the device identifiers provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "The status of the devices.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DeviceStatus"
            }
          }
        }, {
          "name" : "itemId",
          "in" : "query",
          "description" : "Lists only devices with the provided Item ID type.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "itemName",
          "in" : "query",
          "description" : "The name of the item.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "itemModel",
          "in" : "query",
          "description" : "The model of the item.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "itemSku",
          "in" : "query",
          "description" : "The SKU of the item.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "manufacturerId",
          "in" : "query",
          "description" : "Lists only devices created by the Manufacturer ID provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "itemSize",
          "in" : "query",
          "description" : "Lists only devices of the sizes provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ItemSize"
            }
          }
        }, {
          "name" : "itemClass",
          "in" : "query",
          "description" : "Lists only devices of the Classes provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ItemClass"
            }
          }
        }, {
          "name" : "readingType",
          "in" : "query",
          "description" : "Lists only devices that support the Reading Types provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ReadingType"
            }
          }
        }, {
          "name" : "siteId",
          "in" : "query",
          "description" : "The ID of the site.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "patientId",
          "in" : "query",
          "description" : "The ID of the patient.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "patientExternalIdentifier",
          "in" : "query",
          "description" : "The external identifier of the patient.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "patientEmail",
          "in" : "query",
          "description" : "The email of the patient.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patientName",
          "in" : "query",
          "description" : "The name of the patient.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "patientSiteId",
          "in" : "query",
          "description" : "The ID of the patient site.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageDevice"
                },
                "examples" : {
                  "listDevicesResponseExample" : {
                    "value" : {
                      "content" : [ {
                        "id" : 599,
                        "item" : {
                          "id" : 791,
                          "manufacturer" : {
                            "id" : 2,
                            "name" : "Custom Manufacturer"
                          },
                          "name" : "Blood Pressure Monitor",
                          "model" : "iBloodPressureMonitor123",
                          "sku" : "0000001"
                        },
                        "currentStatus" : "withPatient",
                        "currentPatient" : {
                          "id" : 456,
                          "externalIdentifier" : "external-identifier-123",
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "dateOfBirth" : "1987-09-13",
                          "email" : "email@example.com",
                          "phoneNumber" : "111-222-3333",
                          "address" : {
                            "lineOne" : "1234 Market Street",
                            "lineTwo" : "Suite 110",
                            "city" : "Philadelphia",
                            "state" : "PA",
                            "zipCode" : "19137",
                            "country" : "USA"
                          },
                          "sex" : "unknown"
                        },
                        "deviceIdentifiers" : [ {
                          "type" : "imei",
                          "value" : "354833969951611"
                        }, {
                          "type" : "serial",
                          "value" : "A44-A0623930"
                        }, {
                          "type" : "macAddress",
                          "value" : "f51da43314fc"
                        } ],
                        "disabledReadings" : false
                      }, {
                        "id" : 600,
                        "item" : {
                          "id" : 791,
                          "manufacturer" : {
                            "id" : 2,
                            "name" : "Custom Manufacturer"
                          },
                          "name" : "Blood Pressure Monitor",
                          "model" : "iBloodPressureMonitor123",
                          "sku" : "0000001"
                        },
                        "currentStatus" : "withPatient",
                        "currentPatient" : {
                          "id" : 456,
                          "externalIdentifier" : "external-identifier-123",
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "dateOfBirth" : "1987-09-13",
                          "email" : "email@example.com",
                          "phoneNumber" : "111-222-3333",
                          "address" : {
                            "lineOne" : "1234 Market Street",
                            "lineTwo" : "Suite 110",
                            "city" : "Philadelphia",
                            "state" : "PA",
                            "zipCode" : "19137",
                            "country" : "USA"
                          },
                          "sex" : "unknown"
                        },
                        "deviceIdentifiers" : [ {
                          "type" : "imei",
                          "value" : "354833969951611"
                        }, {
                          "type" : "serial",
                          "value" : "A44-A0623930"
                        }, {
                          "type" : "macAddress",
                          "value" : "f51da43314fc"
                        } ],
                        "disabledReadings" : false
                      } ],
                      "page" : 1,
                      "size" : 2,
                      "total" : 4,
                      "first" : true,
                      "last" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "listDevicesResponseExample"
      }
    },
    "/api/v3/device/associate-patient" : {
      "patch" : {
        "tags" : [ "Devices" ],
        "summary" : "Associate Device",
        "description" : "This endpoint associates the device to the patient provided in the request body.\n\nIn order to associate a device with a patient, all of the following must apply:\n- The Patient must be associated with the Customer making the request\n- The Device must be owned by the Customer making the request\n- The Device must be associated with a non-Impilo site\n- The Device must have a current status of \"availableAtSite\"\n***\nFor more information see the [AssociateDeviceRequest Model](/resources/models#schema_AssociateDeviceRequest).",
        "operationId" : "associateDevice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssociateDeviceRequest"
              },
              "examples" : {
                "associateDeviceRequest" : {
                  "value" : {
                    "deviceId" : 1,
                    "patientExternalIdentifier" : "external-identifier"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "x-request-example" : "associateDeviceRequest",
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_AssociateDeviceRequest"
        }
      }
    },
    "/api/v3/device/disable-readings" : {
      "patch" : {
        "tags" : [ "Devices" ],
        "summary" : "Disable Readings",
        "description" : "This endpoint disables readings for the device provided in the request body. Readings received while\nin this status will not be processed or saved. No alerts or webhooks will be triggered for these readings.\n\nIn order to disable readings for a device, all of the following must apply:\n- The Device must be owned by the Customer making the request\n- The Device's \"disabledReadings\" field must be false\n***\nFor more information see the [DeviceReferenceRequest Model](/resources/models#schema_DeviceReferenceRequest).",
        "operationId" : "disableReadings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeviceReferenceRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_DeviceReferenceRequest"
        }
      }
    },
    "/api/v3/device/disassociate-patient" : {
      "patch" : {
        "tags" : [ "Devices" ],
        "summary" : "Disassociate Device",
        "description" : "This endpoint disassociates the device from the patient provided in the Request body.\n\nIn order to disassociate a device from a patient, all of the following must apply:\n- The Patient must be associated with the Customer making the request\n- The Device must be owned by the Customer making the request\n- The Device must already be associated with the provided Patient\n- The Device must be associated with a non-Impilo site\n- The Device must have a current status of \"withPatient\"\n***\nFor more information see the [AssociateDeviceRequest Model](/resources/models#schema_AssociateDeviceRequest).",
        "operationId" : "disassociateDevice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AssociateDeviceRequest"
              },
              "examples" : {
                "disassociateDeviceRequestExample" : {
                  "value" : {
                    "deviceId" : 1,
                    "patientExternalIdentifier" : "external-identifier"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "x-request-example" : "disassociateDeviceRequestExample",
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_AssociateDeviceRequest"
        }
      }
    },
    "/api/v3/device/enable-readings" : {
      "patch" : {
        "tags" : [ "Devices" ],
        "summary" : "Enable Readings",
        "description" : "This endpoint re-enables readings for the device provided in the request body.\n\nIn order to re-enable readings for a device, all of the following must apply:\n- The Device must be owned by the Customer making the request\n- The Device's \"disabledReadings\" field must be true\n***\nFor more information see the [DeviceReferenceRequest Model](/resources/models#schema_DeviceReferenceRequest).",
        "operationId" : "enableReadings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeviceReferenceRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_DeviceReferenceRequest"
        }
      }
    },
    "/api/v3/device/validate/{deviceIdentifier}" : {
      "get" : {
        "tags" : [ "Devices" ],
        "summary" : "Validate Device",
        "description" : "This endpoint validates that a Device Identifier exists and returns the Device upon matching. On failure, it indicates that the Identifier is not valid.\n",
        "operationId" : "validateDevice",
        "parameters" : [ {
          "name" : "deviceIdentifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidateDeviceResponse"
                },
                "examples" : {
                  "validateDeviceResponseExample" : {
                    "value" : {
                      "valid" : true,
                      "device" : {
                        "id" : 599,
                        "item" : {
                          "id" : 791,
                          "manufacturer" : {
                            "id" : 2,
                            "name" : "Custom Manufacturer"
                          },
                          "name" : "Blood Pressure Monitor",
                          "model" : "iBloodPressureMonitor123",
                          "sku" : "0000001"
                        },
                        "currentStatus" : "withPatient",
                        "currentPatient" : {
                          "id" : 456,
                          "externalIdentifier" : "external-identifier-123",
                          "firstName" : "John",
                          "lastName" : "Doe",
                          "dateOfBirth" : "1987-09-13",
                          "email" : "email@example.com",
                          "phoneNumber" : "111-222-3333",
                          "address" : {
                            "lineOne" : "1234 Market Street",
                            "lineTwo" : "Suite 110",
                            "city" : "Philadelphia",
                            "state" : "PA",
                            "zipCode" : "19137",
                            "country" : "USA"
                          },
                          "sex" : "unknown"
                        },
                        "deviceIdentifiers" : [ {
                          "type" : "imei",
                          "value" : "354833969951611"
                        }, {
                          "type" : "serial",
                          "value" : "A44-A0623930"
                        }, {
                          "type" : "macAddress",
                          "value" : "f51da43314fc"
                        } ],
                        "disabledReadings" : false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "validateDeviceResponseExample"
      }
    },
    "/api/v3/device/{deviceId}" : {
      "get" : {
        "tags" : [ "Devices" ],
        "summary" : "Fetch Device",
        "description" : "This endpoint returns the Device specified by ID in the URL path.\n",
        "operationId" : "fetchDevice",
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                },
                "examples" : {
                  "device" : {
                    "value" : {
                      "id" : 599,
                      "item" : {
                        "id" : 791,
                        "manufacturer" : {
                          "id" : 2,
                          "name" : "Custom Manufacturer"
                        },
                        "name" : "Blood Pressure Monitor",
                        "model" : "iBloodPressureMonitor123",
                        "sku" : "0000001"
                      },
                      "currentStatus" : "withPatient",
                      "currentPatient" : {
                        "id" : 456,
                        "externalIdentifier" : "external-identifier-123",
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "dateOfBirth" : "1987-09-13",
                        "email" : "email@example.com",
                        "phoneNumber" : "111-222-3333",
                        "address" : {
                          "lineOne" : "1234 Market Street",
                          "lineTwo" : "Suite 110",
                          "city" : "Philadelphia",
                          "state" : "PA",
                          "zipCode" : "19137",
                          "country" : "USA"
                        },
                        "sex" : "unknown"
                      },
                      "deviceIdentifiers" : [ {
                        "type" : "imei",
                        "value" : "354833969951611"
                      }, {
                        "type" : "serial",
                        "value" : "A44-A0623930"
                      }, {
                        "type" : "macAddress",
                        "value" : "f51da43314fc"
                      } ],
                      "disabledReadings" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "ApiV3ControllerExamples.device"
      }
    },
    "/api/v3/inventory" : {
      "get" : {
        "tags" : [ "Inventory" ],
        "summary" : "List Inventory Summary",
        "description" : "Returns a paginated list that aggregates all Used and New inventory across\nall Impilo and Customer locations by Item type. One entry per Item ID.\n",
        "operationId" : "listInventorySummary",
        "parameters" : [ {
          "name" : "itemId",
          "in" : "query",
          "description" : "The Item ID to filter the content by.",
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number of the content returned.",
          "schema" : {
            "format" : "int32",
            "default" : "1",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page returned. Max size is 100.",
          "schema" : {
            "format" : "int32",
            "default" : "15",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageInventorySummaryRecord"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inventory/impilo" : {
      "get" : {
        "tags" : [ "Inventory" ],
        "summary" : "List Impilo Inventory",
        "description" : "Returns a paginated list of a Customer's inventory by Item type\nacross each of the Impilo Sites. One record per Item-Site combination.\n",
        "operationId" : "listImpiloInventory",
        "parameters" : [ {
          "name" : "itemId",
          "in" : "query",
          "description" : "The Item ID to filter the content by.",
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number of the content returned.",
          "schema" : {
            "format" : "int32",
            "default" : "1",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page returned. Max size is 100.",
          "schema" : {
            "format" : "int32",
            "default" : "15",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageInventoryRecord"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inventory/site" : {
      "get" : {
        "tags" : [ "Inventory" ],
        "summary" : "List Site Inventory",
        "description" : "Returns a paginated list of a Customer's inventory by Item type\nacross each of the Customer Sites that there is inventory held. One record per Item-Site combination.\n",
        "operationId" : "listSiteInventory",
        "parameters" : [ {
          "name" : "itemId",
          "in" : "query",
          "description" : "The Item ID to filter the content by.",
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "siteId",
          "in" : "query",
          "description" : "The Site ID to filter the content by.",
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number of the content returned.",
          "schema" : {
            "format" : "int32",
            "default" : "1",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page returned. Max size is 100.",
          "schema" : {
            "format" : "int32",
            "default" : "15",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageInventoryRecord"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/item" : {
      "get" : {
        "tags" : [ "Items" ],
        "summary" : "List Items",
        "description" : "This endpoint returns a paginated list of all items in a customer's catalog with various filtering options including pagination, sorting, and specific attributes such as IDs, names, models, SKUs, sizes, classes, reading types, and manufacturer IDs.\n",
        "operationId" : "listItems",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number of the content returned.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page of content returned. Max value is 100.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The attribute to sort on.",
          "schema" : {
            "$ref" : "#/components/schemas/ItemSort"
          }
        }, {
          "name" : "sortDescending",
          "in" : "query",
          "description" : "True if the sort direction should be descending.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Lists only items with the provided Item IDs.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Lists only items with the provided name.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "model",
          "in" : "query",
          "description" : "Lists only items with the provided model.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sku",
          "in" : "query",
          "description" : "Lists only items with the provided SKU.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "itemSize",
          "in" : "query",
          "description" : "Lists only items with the provided sizes.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ItemSize"
            }
          }
        }, {
          "name" : "itemClass",
          "in" : "query",
          "description" : "Lists only items with the provided classes.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ItemClass"
            }
          }
        }, {
          "name" : "readingType",
          "in" : "query",
          "description" : "Lists only items with the provided reading types.",
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ReadingType"
            }
          }
        }, {
          "name" : "manufacturerId",
          "in" : "query",
          "description" : "Lists only items created by the provided Manufacturer IDs.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageItemDetailed"
                },
                "examples" : {
                  "listItemsResponseExample" : {
                    "value" : {
                      "content" : [ {
                        "id" : 791,
                        "manufacturer" : {
                          "id" : 2,
                          "name" : "Custom Manufacturer"
                        },
                        "name" : "Blood Pressure Monitor",
                        "model" : "iBloodPressureMonitor123",
                        "sku" : "0000001",
                        "deviceIdentifierType" : "imei",
                        "itemClass" : "glucose",
                        "itemClassType" : "bpMonitor",
                        "size" : "large",
                        "dimensions" : {
                          "length" : 1.5,
                          "width" : 1.0,
                          "height" : 0.75,
                          "unit" : "in"
                        },
                        "readingType" : "bloodGlucose"
                      }, {
                        "id" : 791,
                        "manufacturer" : {
                          "id" : 2,
                          "name" : "Custom Manufacturer"
                        },
                        "name" : "Blood Pressure Monitor",
                        "model" : "iBloodPressureMonitor123",
                        "sku" : "0000001",
                        "deviceIdentifierType" : "imei",
                        "itemClass" : "glucose",
                        "itemClassType" : "bpMonitor",
                        "size" : "large",
                        "dimensions" : {
                          "length" : 1.5,
                          "width" : 1.0,
                          "height" : 0.75,
                          "unit" : "in"
                        },
                        "readingType" : "bloodGlucose"
                      } ],
                      "page" : 1,
                      "size" : 2,
                      "total" : 4,
                      "first" : true,
                      "last" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "listItemsResponseExample"
      },
      "post" : {
        "tags" : [ "Items" ],
        "summary" : "Create Item",
        "description" : "This endpoint creates a new Item in the Impilo platform. This endpoint is only enabled for Customers that are also Manufacturer accounts.\n\nItems created via this endpoint will:\n- receive a generated SKU and ID\n- have a Manufacturer set to the requesting Customer\n- be set to an Orderable status of FALSE\n\nItems created with this endpoint are not able to be ordered until approved manually by an Impilo Admin.\nItems can still be procured and received within Impilo's system while the orderable parameter is false.\n***\nFor more information see the [ItemRequest Model](/resources/models#schema_ItemRequest).",
        "operationId" : "createItem",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ItemRequest"
              },
              "examples" : {
                "without-identifier" : {
                  "value" : {
                    "name" : "Blood Pressure Monitor",
                    "model" : "iBloodPressureMonitor123"
                  }
                },
                "with-identifier" : {
                  "value" : {
                    "name" : "Blood Pressure Monitor",
                    "model" : "iBloodPressureMonitor123",
                    "deviceIdentifierType" : "serial"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ItemDetailed"
                },
                "examples" : {
                  "itemRequestResponse" : {
                    "value" : {
                      "id" : 791,
                      "manufacturer" : {
                        "id" : 2,
                        "name" : "Custom Manufacturer"
                      },
                      "name" : "Blood Pressure Monitor",
                      "model" : "iBloodPressureMonitor123",
                      "sku" : "0000001",
                      "orderable" : false,
                      "deviceIdentifierType" : "imei",
                      "itemClass" : "glucose",
                      "itemClassType" : "bpMonitor",
                      "size" : "large",
                      "dimensions" : {
                        "length" : 1.5,
                        "width" : 1.0,
                        "height" : 0.75,
                        "unit" : "in"
                      },
                      "readingType" : "bloodGlucose"
                    }
                  }
                }
              }
            }
          }
        },
        "x-request-example-without-identifier" : "itemRequestWithoutIdentifier",
        "x-request-example-with-identifier" : "itemRequestWithIdentifier",
        "x-response-example" : "itemRequestResponse",
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_ItemRequest"
        }
      }
    },
    "/api/v3/item/{itemId}" : {
      "get" : {
        "tags" : [ "Items" ],
        "summary" : "Fetch Item",
        "description" : "This endpoint returns the Item specified by ID in the URL path.\n",
        "operationId" : "fetchItem",
        "parameters" : [ {
          "name" : "itemId",
          "in" : "path",
          "description" : "The ID of the Item to be returned.",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ItemDetailed"
                },
                "examples" : {
                  "fullItem" : {
                    "value" : {
                      "id" : 791,
                      "manufacturer" : {
                        "id" : 2,
                        "name" : "Custom Manufacturer"
                      },
                      "name" : "Blood Pressure Monitor",
                      "model" : "iBloodPressureMonitor123",
                      "sku" : "0000001",
                      "deviceIdentifierType" : "imei",
                      "itemClass" : "glucose",
                      "itemClassType" : "bpMonitor",
                      "size" : "large",
                      "dimensions" : {
                        "length" : 1.5,
                        "width" : 1.0,
                        "height" : 0.75,
                        "unit" : "in"
                      },
                      "readingType" : "bloodGlucose"
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "fullItem"
      }
    },
    "/api/v3/kit" : {
      "get" : {
        "tags" : [ "Kits" ],
        "summary" : "List Kits",
        "description" : "This endpoint returns a paginated list of all kits belonging to a customer.\n\nYou can filter by the following parameters as query params:\n- page (integer) -- The page number of the content returned.\n- size (integer) -- The size of the page of content returned.\n- itemId (long) -- Shows only kits that contain the specified Item ID.\n- archived (bool) -- Shows kits that are/aren't archived, based on provided boolean value.\n",
        "operationId" : "listKits",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "itemId",
          "in" : "query",
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageKit"
                },
                "examples" : {
                  "listKitsResponse" : {
                    "value" : {
                      "content" : [ {
                        "id" : 123,
                        "name" : "Example Kit",
                        "archived" : false,
                        "kitItems" : [ {
                          "item" : {
                            "id" : 1,
                            "manufacturer" : {
                              "id" : 2,
                              "name" : "Custom Manufacturer"
                            },
                            "name" : "Blood Pressure Monitor",
                            "model" : "iBloodPressureMonitor123",
                            "sku" : "0000001"
                          },
                          "count" : 1
                        } ]
                      } ],
                      "page" : 1,
                      "size" : 15,
                      "total" : 1,
                      "first" : true,
                      "last" : true
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "listKitsResponse"
      }
    },
    "/api/v3/kit/{kitId}" : {
      "get" : {
        "tags" : [ "Kits" ],
        "summary" : "Fetch Kit",
        "description" : "This endpoint returns the Kit specified by ID in the URL path.\n",
        "operationId" : "fetchKit",
        "parameters" : [ {
          "name" : "kitId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Kit"
                },
                "examples" : {
                  "fetchKitResponse" : {
                    "value" : {
                      "id" : 123,
                      "name" : "Example Kit",
                      "archived" : false,
                      "kitItems" : [ {
                        "item" : {
                          "id" : 1,
                          "manufacturer" : {
                            "id" : 2,
                            "name" : "Custom Manufacturer"
                          },
                          "name" : "Blood Pressure Monitor",
                          "model" : "iBloodPressureMonitor123",
                          "sku" : "0000001"
                        },
                        "count" : 1
                      } ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "fetchKitResponse"
      }
    },
    "/api/v3/manufacturer" : {
      "get" : {
        "tags" : [ "Manufacturers" ],
        "summary" : "List Manufacturers",
        "description" : "This endpoint returns a paginated list of all manufacturers in a customer's catalog.\n\nYou can filter by the following parameters as query params:\n- page (integer) -- The page number of the content returned.\n- size (integer) -- The size of the page of content returned.\n",
        "operationId" : "listManufacturers",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageManufacturer"
                },
                "examples" : {
                  "listManufacturersResponse" : {
                    "value" : {
                      "content" : [ {
                        "id" : 2,
                        "name" : "Custom Manufacturer"
                      } ],
                      "page" : 1,
                      "size" : 15,
                      "total" : 1,
                      "first" : true,
                      "last" : true
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "listManufacturersResponse"
      }
    },
    "/api/v3/manufacturer/{manufacturerId}" : {
      "get" : {
        "tags" : [ "Manufacturers" ],
        "summary" : "Fetch Manufacturer",
        "description" : "This endpoint returns the Manufacturer specified by ID in the URL path.\n",
        "operationId" : "fetchManufacturer",
        "parameters" : [ {
          "name" : "manufacturerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Manufacturer"
                },
                "examples" : {
                  "fetchManufacturerResponse" : {
                    "value" : {
                      "id" : 2,
                      "name" : "Custom Manufacturer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "fetchManufacturerResponse"
      }
    },
    "/api/v3/order" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "List Orders",
        "operationId" : "listOrders",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "schema" : {
            "format" : "int32",
            "default" : "1",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "schema" : {
            "format" : "int32",
            "default" : "15",
            "type" : "integer"
          }
        }, {
          "name" : "patientId",
          "in" : "query",
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        }, {
          "name" : "externalOrderId",
          "in" : "query",
          "description" : "Lists only orders with the order external identifiers provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageOrder"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Create Order",
        "description" : "This endpoint is for creating orders linked to either a patient or a site, with order content specified by item or kit IDs and an association with a patient or site ID. Optional attributes offer further customization, such as tracking through external order IDs.\\n\\nFor a comprehensive guide on utilizing this endpoint, including examples, required and optional attributes, and additional functionalities like listing and fetching orders, visit the [Order Management Guide](/guides/order-management).\n***\nFor more information see the [Order Model](/resources/models#schema_Order).",
        "operationId" : "createOrder",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order"
              },
              "examples" : {
                "existing-patient-order" : {
                  "value" : {
                    "externalOrderIds" : [ "xyz_123_0", "xyz_123_1", "xyz_123_2", "xyz_123_3" ],
                    "patient" : {
                      "id" : 1234,
                      "sex" : "unknown"
                    },
                    "orderItems" : [ {
                      "item" : {
                        "id" : 1000
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1001
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1002
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1003
                      },
                      "count" : 10
                    } ],
                    "orderKits" : [ {
                      "kit" : {
                        "id" : 1000
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1001
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1002
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1003
                      },
                      "count" : 10
                    } ],
                    "shippingOption" : "standard"
                  }
                },
                "new-patient-order" : {
                  "value" : {
                    "externalOrderIds" : [ "xyz_123_0", "xyz_123_1", "xyz_123_2", "xyz_123_3" ],
                    "patient" : {
                      "firstName" : "Steven",
                      "lastName" : "Glansberg",
                      "email" : "steve.g@gmail.com",
                      "address" : {
                        "lineOne" : "123 Main Street",
                        "city" : "Anytown",
                        "state" : "PA",
                        "zipCode" : "19334"
                      },
                      "sex" : "unknown"
                    },
                    "orderItems" : [ {
                      "item" : {
                        "id" : 1000
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1001
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1002
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1003
                      },
                      "count" : 10
                    } ],
                    "orderKits" : [ {
                      "kit" : {
                        "id" : 1000
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1001
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1002
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1003
                      },
                      "count" : 10
                    } ],
                    "shippingOption" : "standard"
                  }
                },
                "site-order" : {
                  "value" : {
                    "externalOrderIds" : [ "xyz_123_0", "xyz_123_1", "xyz_123_2", "xyz_123_3" ],
                    "site" : {
                      "id" : 1234
                    },
                    "orderItems" : [ {
                      "item" : {
                        "id" : 1000
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1001
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1002
                      },
                      "count" : 10
                    }, {
                      "item" : {
                        "id" : 1003
                      },
                      "count" : 10
                    } ],
                    "orderKits" : [ {
                      "kit" : {
                        "id" : 1000
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1001
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1002
                      },
                      "count" : 10
                    }, {
                      "kit" : {
                        "id" : 1003
                      },
                      "count" : 10
                    } ],
                    "shippingOption" : "standard"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        },
        "x-request-example-existing-patient-order" : "createRequestExampleExistingPatientOrder",
        "x-request-example-new-patient-order" : "createRequestExampleNewPatientOrder",
        "x-request-example-site-order" : "createRequestExampleNewSiteOrder",
        "externalDocs" : {
          "url" : "https://staging-impilo.docs.buildwithfern.com/resources/models#schema_Order"
        }
      }
    },
    "/api/v3/order/summary/{orderId}" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Create Order Summary",
        "description" : "Returns a PDF document summarizing the order details for the given order ID.",
        "operationId" : "createOrderSummary",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "description" : "The ID of the order to generate the summary for.",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "default" : {
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "format" : "binary",
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/order/{orderId}" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Fetch Order",
        "operationId" : "fetchOrder",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Orders" ],
        "summary" : "Void Order",
        "operationId" : "voidOrder",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/api/v3/patient" : {
      "get" : {
        "tags" : [ "Patients" ],
        "summary" : "List Patients",
        "description" : "Retrieves a paginated list of patients. Optional parameters allow specifying the page number and page size.",
        "operationId" : "listPatients",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number of the content returned.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The size of the page of content returned.",
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The attribute to sort on.",
          "schema" : {
            "$ref" : "#/components/schemas/PatientSort"
          }
        }, {
          "name" : "sortDescending",
          "in" : "query",
          "description" : "True if the sort direction should be descending.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Lists only patients with the IDs provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "siteId",
          "in" : "query",
          "description" : "Lists only patients with the site IDs provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "format" : "int64",
              "type" : "integer"
            }
          }
        }, {
          "name" : "externalIdentifier",
          "in" : "query",
          "description" : "Lists only patients with the external identifiers provided.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Lists only patients with the provided email.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Lists only patients with the provided name.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Lists only patients who are archived.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "enrolled",
          "in" : "query",
          "description" : "Lists only patients who are enrolled.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "dateOfBirthMin",
          "in" : "query",
          "description" : "Lists only patients born on or after the provided date.",
          "schema" : {
            "$ref" : "#/components/schemas/LocalDate"
          }
        }, {
          "name" : "dateOfBirthMax",
          "in" : "query",
          "description" : "Lists only patients born on or before the provided date.",
          "schema" : {
            "$ref" : "#/components/schemas/LocalDate"
          }
        }, {
          "name" : "postalCode",
          "in" : "query",
          "description" : "Lists only patients with the provided postal code.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Lists only patients with the provided country.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagePatient"
                },
                "examples" : {
                  "patientPagedResponseExample" : {
                    "value" : {
                      "content" : [ {
                        "id" : 456,
                        "externalIdentifier" : "external-identifier-123",
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "dateOfBirth" : "1987-09-13",
                        "email" : "email@example.com",
                        "phoneNumber" : "111-222-3333",
                        "address" : {
                          "lineOne" : "1234 Market Street",
                          "lineTwo" : "Suite 110",
                          "city" : "Philadelphia",
                          "state" : "PA",
                          "zipCode" : "19137",
                          "country" : "USA"
                        },
                        "sex" : "unknown"
                      }, {
                        "id" : 457,
                        "externalIdentifier" : "external-identifier-123",
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "dateOfBirth" : "1987-09-13",
                        "email" : "email@example.com",
                        "phoneNumber" : "111-222-3333",
                        "address" : {
                          "lineOne" : "1234 Market Street",
                          "lineTwo" : "Suite 110",
                          "city" : "Philadelphia",
                          "state" : "PA",
                          "zipCode" : "19137",
                          "country" : "USA"
                        },
                        "sex" : "unknown"
                      }, {
                        "id" : 458,
                        "externalIdentifier" : "external-identifier-123",
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "dateOfBirth" : "1987-09-13",
                        "email" : "email@example.com",
                        "phoneNumber" : "111-222-3333",
                        "address" : {
                          "lineOne" : "1234 Market Street",
                          "lineTwo" : "Suite 110",
                          "city" : "Philadelphia",
                          "state" : "PA",
                          "zipCode" : "19137",
                          "country" : "USA"
                        },
                        "sex" : "unknown"
                      }, {
                        "id" : 459,
                        "externalIdentifier" : "external-identifier-123",
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "dateOfBirth" : "1987-09-13",
                        "email" : "email@example.com",
                        "phoneNumber" : "111-222-3333",
                        "address" : {
                          "lineOne" : "1234 Market Street",
                          "lineTwo" : "Suite 110",
                          "city" : "Philadelphia",
                          "state" : "PA",
                          "zipCode" : "19137",
                          "country" : "USA"
                        },
                        "sex" : "unknown"
                      }, {
                        "id" : 460,
                        "externalIdentifier" : "external-identifier-123",
                        "firstName" : "John",
                        "lastName" : "Doe",
                        "dateOfBirth" : "1987-09-13",
                        "email" : "email@example.com",
                        "phoneNumber" : "111-222-3333",
                        "address" : {
                          "lineOne" : "1234 Market Street",
                          "lineTwo" : "Suite 110",
                          "city" : "Philadelphia",
                          "state" : "PA",
                          "zipCode" : "19137",
                          "country" : "USA"
                        },
                        "sex" : "unknown"
                      } ],
                      "page" : 1,
                      "size" : 5,
                      "total" : 10,
                      "first" : true,
                      "last" : false
                    }
                  }
                }
              }
            }
          }
        },
        "x-response-example" : "patientPagedResponseExample"
      },
      "post" : {
        "tags" : [ "Patients" ],
        "summary" : "Create Patient",
        "description" : "Creates a new patient record with the provided details.\n***\nFor more information see the [Patient Model](/resources/models#schema_Patient).",
        "operationId" : "createPatient",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Patient"
              },
              "examples" : {
                "create-patient" : {
                  "value" : {
                    "id" : 456,
                    "externalIdentifier" : "external-identifier-123",
                    "firstName" : "John",
                    "lastName" : "Doe",
                    "dateOfBirth" : "1987-09-13",
                    "email" : "email@example.com",
                    "phoneNumber" : "111-222-3333",
                    "address" : {
                      "lineOne" : "1234 Market Street",
                      "lineTwo" : "Suite 110",
                      "city" : "Philadelphia",
                      "state" : "PA",
                      "zipCode" : "19137",
                      "country" : "USA"
                    },
                    "sex" : "unknown"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Patient"
                }
              }
            }
          }
        },
[...]
